Job_Analytics_Reporting_Pipeline.json
{
  "name": "Job Analytics & Reporting Pipeline",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "output.results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        -144
      ],
      "id": "REDACTED_ID",
      "name": "Split Out"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        272
      ],
      "id": "REDACTED_ID",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "REDACTED": "Credentials removed for public upload"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "Internshala Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_title": "={{ $json.job_title }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "stipend": "={{ $json.stipend }}",
            "duration": "={{ $json.duration }}",
            "start_date": "={{ $json.start_date }}",
            "employment_type": "={{ $json.employment_type }}",
            "experience": "={{ $json.experience }}",
            "applicants": "={{ $json.applicants }}",
            "skills": "={{ $json.skills }}",
            "posted_date": "={{ $json.posted_date }}",
            "remote": "={{ $json.remote }}",
            "job_url": "={{ $json.job_url }}",
            "description": "={{ $json.description }}",
            "category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stipend",
              "displayName": "stipend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employment_type",
              "displayName": "employment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience",
              "displayName": "experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applicants",
              "displayName": "applicants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_date",
              "displayName": "posted_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remote",
              "displayName": "remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -144
      ],
      "id": "REDACTED_ID",
      "name": "Append row in sheet",
      "credentials": {
        "REDACTED": "Credentials removed for public upload"
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -16
      ],
      "id": "REDACTED_ID",
      "name": "Schedule Trigger at 10 A.M."
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"results\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"job_title\": {\n            \"type\": \"string\"\n          },\n          \"company\": {\n            \"type\": \"string\"\n          },\n          \"location\": {\n            \"type\": \"string\"\n          },\n          \"stipend\": {\n            \"type\": \"string\"\n          },\n          \"duration\": {\n            \"type\": \"string\"\n          },\n          \"start_date\": {\n            \"type\": \"string\"\n          },\n          \"employment_type\": {\n            \"type\": \"string\"\n          },\n          \"experience\": {\n            \"type\": \"string\"\n          },\n          \"skills\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"applicants\": {\n            \"type\": \"string\"\n          },\n          \"posted_date\": {\n            \"type\": \"string\"\n          },\n          \"remote\": {\n            \"type\": \"boolean\"\n          },\n          \"job_url\": {\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"type\": \"string\"\n          },\n          \"category\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}",
        "options": {
          "systemPromptTemplate": "=You are a JSON extraction engine.\n\nExtract internship/job listing data from the provided Internshala page content.\n\nFor each listing return:\n- job_title\n- company\n- location\n- stipend\n- duration\n- start_date\n- employment_type\n- experience\n- skills\n- applicants\n- posted_date\n- remote\n- job_url\n- description\n- category\n\nRules:\n- Output ONLY valid JSON.\n- Use this format:\n{\n  \"results\": []\n}\n- Return null for missing values.\n- Keep descriptions short and clean.\n- Keep skills as a simple array.\n- Preserve numbers and dates when available.\n- Do not explain anything.\n- Do not add extra fields.\n- Do not hallucinate missing information.\n- Remove unnecessary formatting or symbols.\n- No job should be of this description:\n     Handle calls, conduct interviews, organize events,         promote company activities, and manage client              relations.\nCategory must be one of:\n[\"Data Science\",\"Data Analyst\",\"AI/ML\",\"Web Development\",\"Backend\",\"Frontend\",\"DevOps\",\"Automation\",\"Cybersecurity\",\"Mobile Development\",\"Software Development\"]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.REDACTED_ID",
      "typeVersion": 1.2,
      "position": [
        208,
        -16
      ],
      "id": "REDACTED_ID",
      "name": "LLM Job Extractor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job listing data:\n\n{{ JSON.stringify($json.output.results, null, 2) }}\n\nGenerate:\n- Top hiring domains\n- Most demanded skills\n- Top locations\n- Remote hiring trends\n- Beginner-friendly opportunities\n- Career recommendations\n\nKeep the response concise and email-friendly.",
        "options": {
          "systemMessage": "=You are a professional job market analyst.\n\nAnalyze scraped internship and job listing data and generate a concise professional email-ready summary.\n\nRules:\n- Use only provided data\n- Do not hallucinate\n- Do not invent statistics\n- Keep insights concise\n- Normalize repeated skills\n- Avoid repeating the same information\n- Focus on hiring trends, skills, locations, and opportunities\n\nAlways start with:\n\nHere is the Job Market Analysis:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        144
      ],
      "id": "REDACTED_ID",
      "name": "AI Market Summarizer"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "Daily Job Market Analysis",
        "message": "=<h2>Daily Job Market Analysis</h2>\n\n{{ $json.output\n.replace(/\\n/g, '<br>')\n.replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>')\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        144
      ],
      "id": "REDACTED_ID",
      "name": "Email Report Generator",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "REDACTED": "Credentials removed for public upload"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://r.jina.ai/https://internshala.com/jobs/data-science-jobs/",
        "authentication": "REDACTED_ID",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        -16
      ],
      "id": "REDACTED_ID",
      "name": "Internshala Scraper",
      "credentials": {
        "REDACTED": "Credentials removed for public upload"
      }
    }
  ],
  "pinData": {
    "LLM Job Extractor": [
      {
        "json": {
          "output": {
            "results": [
              {
                "job_title": "Artificial Intelligence (AI) Executive",
                "company": "VIZON",
                "location": "Dehradun, Delhi, Bangalore",
                "stipend": "",
                "duration": "",
                "start_date": "",
                "employment_type": "",
                "experience": "No experience required",
                "skills": [
                  "OpenCV",
                  "Python",
                  "Linux",
                  "Machine Learning",
                  "Computer Vision",
                  "C++ Programming",
                  "Neural Networks"
                ],
                "applicants": "",
                "posted_date": "3 weeks ago",
                "remote": false,
                "job_url": "https://internshala.com/job/detail/REDACTED_ID",
                "description": "Work on brainstorming, researching & developing AI programs for computer vision & ML using C++, Python and Linux.",
                "category": "AI/ML"
              },
              {
                "job_title": "Artificial Intelligence (AI) Executive",
                "company": "VIZON",
                "location": "Work from home",
                "stipend": "",
                "duration": "",
                "start_date": "",
                "employment_type": "",
                "experience": "No experience required",
                "skills": [
                  "OpenCV",
                  "Python",
                  "Linux",
                  "Computer Vision",
                  "C++ Programming"
                ],
                "applicants": "",
                "posted_date": "3 weeks ago",
                "remote": true,
                "job_url": "https://internshala.com/job/detail/REDACTED_ID",
                "description": "Same as onsite role but remote; develop AI programs for computer vision & ML.",
                "category": "AI/ML"
              },
              {
                "job_title": "Online Data Analyst - Telugu Speaker",
                "company": "TELUS International AI Inc.",
                "location": "Work from home",
                "stipend": "",
                "duration": "",
                "start_date": "",
                "employment_type": "",
                "experience": "No experience required",
                "skills": [
                  "Artificial intelligence",
                  "English Proficiency (Spoken)",
                  "English Proficiency (Written)",
                  "Telugu Proficiency (Written)",
                  "Telugu Proficiency (Spoken)"
                ],
                "applicants": "",
                "posted_date": "3 days ago",
                "remote": true,
                "job_url": "https://internshala.com/job/detail/REDACTED_ID",
                "description": "Enhance digital map content; verify and compare data, ensure accuracy.",
                "category": "Data Analyst"
              },
              {
                "job_title": "Online Data Analyst - Punjabi Speaker",
                "company": "TELUS International AI Inc.",
                "location": "Work from home",
                "stipend": "",
                "duration": "",
                "start_date": "",
                "employment_type": "",
                "experience": "No experience required",
                "skills": [
                  "Artificial intelligence",
                  "English Proficiency (Spoken)",
                  "English Proficiency (Written)",
                  "Punjabi Proficiency (Spoken)",
                  "Punjabi Proficiency (Written)"
                ],
                "applicants": "",
                "posted_date": "3 days ago",
                "remote": true,
                "job_url": "https://internshala.com/job/detail/REDACTED_ID",
                "description": "Enhance digital map content; verify and compare data, ensure accuracy.",
                "category": "Data Analyst"
              },
              {
                "job_title": "Junior Software Developer",
                "company": "Treadstone Labs",
                "location": "Bangalore",
                "stipend": "",
                "duration": "",
                "start_date": "",
                "employment_type": "",
                "experience": "No experience required",
                "skills": [
                  "MySQL",
                  "HTML",
                  "JavaScript",
                  "Python",
                  "Algorithms",
                  "Node.js",
                  "C++ Programming"
                ],
                "applicants": "",
                "posted_date": "1 week ago",
                "remote": false,
                "job_url": "https://internshala.com/job/detail/REDACTED_ID",
                "description": "Assist in developing web applications using JavaScript, HTML, Node.js and scripting with Python.",
                "category": "Software Development"
              },
              {
                "job_title": "AR/VR Game Developer",
                "company": "VIZON",
                "location": "Dehradun, Delhi, Bangalore",
                "stipend": "",
                "duration": "",
                "start_date": "",
                "employment_type": "",
                "experience": "No experience required",
                "skills": [
                  "C#",
                  "Blender 3D",
                  "C++ Programming",
                  "Unity Engine"
                ],
                "applicants": "",
                "posted_date": "3 weeks ago",
                "remote": false,
                "job_url": "https://internshala.com/job/detail/REDACTED_ID",
                "description": "Develop XR (AR/VR) interfaces in Unity, create interactive apps and games using AI & computer vision data.",
                "category": "Software Development"
              },
              {
                "job_title": "AR/VR Game Developer",
                "company": "VIZON",
                "location": "Work from home",
                "stipend": "",
                "duration": "",
                "start_date": "",
                "employment_type": "",
                "experience": "No experience required",
                "skills": [
                  "C#",
                  "Blender 3D",
                  "C++ Programming",
                  "Unity Engine"
                ],
                "applicants": "",
                "posted_date": "3 weeks ago",
                "remote": true,
                "job_url": "https://internshala.com/job/detail/REDACTED_ID",
                "description": "Remote role similar to onsite AR/VR development using Unity and related tools.",
                "category": "Software Development"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Internshala Scraper": [
      {
        "json": {
          "data": "Title: Jobs: 12940 Job Vacancies & Openings in India | Search Jobs Online\n\nURL Source: https://internshala.com/jobs/REDACTED_ID/\n\nMarkdown Content:\n# Jobs: 12940 Job Vacancies & Openings in India | Search Jobs Online\n\n[Close](https://internshala.com/jobs/REDACTED_ID/)\n\nCancel[Close](https://internshala.com/jobs/REDACTED_ID/)\n\n[Close](https://internshala.com/jobs/REDACTED_ID/)[Close](https://internshala.com/jobs/REDACTED_ID/)\n\n[Close](https://internshala.com/jobs/REDACTED_ID/)\n\nCancel[Yes](https://internshala.com/jobs/REDACTED_ID/)\n\n Loading, please wait... \n\n Student \n\n Employer / T&P \n\n[Login with Google](https://internshala.com/login/get_google/student)\n\nOR\n\nEmail \n\nPassword \n\n[Forgot password?](https://internshala.com/login/forgot_password)\n\nLogin\n\n New to Internshala? Register ([Student](https://internshala.com/registration/student) / [Company](https://internshala.com/hire-talent))  \n\n Your account is put on hold.\n\n Your account is put on hold.\n\n What happened? \n\n We have determined that this account is violation of Internshala's [rules](https://internshala.com/terms). \n\n Specifically for, \n\n If you wish to appeal this, or seek further clarification, please contact our team at [your-email@example.com](mailto:your-email@example.com)\n\n If this has happened by mistake, it will automatically be reverted within 24 hours. \n\n[Home](https://internshala.com/)\n\n[Internships](https://internshala.com/internships)\n\n[Jobs](https://internshala.com/jobs)\n\n[Courses OFFER](https://trainings.internshala.com/?utm_source=REDACTED_ID)\n\n[Career Launchpads Get hired faster](https://trainings.internshala.com/?utm_source=is_web_hamburger#REDACTED_ID)\n\n[Online Degrees](https://internshala.com/onlinedegrees?utm_source=is_web_hamburger)\n\n[Study Abroad](https://internshala.com/study_abroad?utm_source=is_web_hamburger)\n\n[Contact Us](https://internshala.com/contact)\n\n* * *\n\n[Register - As a Student](https://internshala.com/registration/student)\n\n[Register - As an Employer](https://internshala.com/hire-talent)\n\nLogin \n\n[](https://internshala.com/)\n\n[Register](https://internshala.com/registration/student)\n\n*   [Internships](https://internshala.com/internships/?utm_source=is_header) Top Locations    Profile    Top Categories    Explore More Internships    Career Launchpads  Get hired faster    [Work from Home](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Internship in Bangalore](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Internship in Delhi](https://internshala.com/internships/internship-in-delhi/?utm_source=is_menu_dropdown)[Internship in Hyderabad](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Internship in Mumbai](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Internship in Chennai](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Internship in Pune](https://internshala.com/internships/internship-in-pune/?utm_source=is_menu_dropdown)[Internship in Kolkata](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Internship in Jaipur](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[International Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[View all internships](https://internshala.com/internships/?utm_source=is_menu_dropdown)  [Computer Science Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Marketing Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Finance Internship](https://internshala.com/internships/finance-internship/?utm_source=is_menu_dropdown)[Graphic Design Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Architecture Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Mechanical Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[HR Internship](https://internshala.com/internships/hr-internship/?utm_source=is_menu_dropdown)[Digital Marketing Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Law Internship](https://internshala.com/internships/law-internship/?utm_source=is_menu_dropdown)[Electronics Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Content Writing Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Civil Internship](https://internshala.com/internships/civil-internship/?utm_source=is_menu_dropdown)[Campus Ambassador Program](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[View all internships](https://internshala.com/internships/?utm_source=is_menu_dropdown)  [Engineering Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Business/MBA Internship](https://internshala.com/internships/mba-internship/?utm_source=is_menu_dropdown)[Humanities Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_menu_dropdown)[Science Internship](https://internshala.com/internships/science-internship/?utm_source=is_menu_dropdown)[Internships with Job Offer](https://internshala.com/internships/ppo-true/?utm_source=is_menu_dropdown)[Part-Time Jobs/Internships](https://internshala.com/internships/part-time-jobs/?utm_source=is_menu_dropdown)[Internships for Women](https://internshala.com/REDACTED_ID/?utm_source=is_menu_dropdown)[View all internships](https://internshala.com/internships/?utm_source=is_menu_dropdown)  [Internships by Category](https://internshala.com/REDACTED_ID/?utm_source=is_menu_dropdown)[Internships by Location](https://internshala.com/REDACTED_ID/?utm_source=is_menu_dropdown)[Internships by Company](https://internshala.com/REDACTED_ID/?utm_source=is_menu_dropdown)  [Web Development Course Course](https://trainings.internshala.com/REDACTED_ID?utm_source=REDACTED_ID)[Data Science Course Course](https://trainings.internshala.com/REDACTED_ID?utm_source=REDACTED_ID)[Digital Marketing Course Course](https://trainings.internshala.com/REDACTED_ID?utm_source=REDACTED_ID)[HR Management Course Course](https://trainings.internshala.com/REDACTED_ID?utm_source=REDACTED_ID)     \n*   [Courses OFFER](https://trainings.internshala.com/?utm_source=REDACTED_ID) Certification Courses  [Artificial Intelligence and Machine Learning Trending in AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID)[Generative AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID)[Full Stack Web Development with AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID)[Programming with Python with AI](https://trainings.internshala.com/python-course/?utm_source=REDACTED_ID)[Complete Digital Marketing with AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID)[Machine Learning with AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID)[Advanced Excel with AI](https://trainings.internshala.com/excel-course/?utm_source=REDACTED_ID)[View 70+ more courses](https://trainings.internshala.com/?utm_source=REDACTED_ID)    Career Launchpads  Get hired faster   [Web Development Course](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID)[Data Science Course](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID)[Digital Marketing Course](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID)[HR Management Course](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID)   Online Degrees  [Online MBA](https://internshala.com/onlinedegrees/online-mba/?utm_source=REDACTED_ID&utm_campaign=online_degrees)[Online BCA](https://internshala.com/onlinedegrees/online-bca/?utm_source=REDACTED_ID&utm_campaign=online_degrees)[Online MCA](https://internshala.com/onlinedegrees/online-mca/?utm_source=REDACTED_ID&utm_campaign=online_degrees)[Online BBA](https://internshala.com/onlinedegrees/online-bba/?utm_source=REDACTED_ID&utm_campaign=online_degrees)[Online MA](https://internshala.com/onlinedegrees/online-ma/?utm_source=REDACTED_ID&utm_campaign=online_degrees)[Online MSc](https://internshala.com/onlinedegrees/online-msc/?utm_source=REDACTED_ID&utm_campaign=online_degrees)[View all](https://internshala.com/onlinedegrees?utm_source=REDACTED_ID)    Study Abroad  [USA](https://internshala.com/study_abroad/usa/all/all/?utm_source=REDACTED_ID#program-section)[UK](https://internshala.com/study_abroad/uk/all/all/?utm_source=REDACTED_ID#program-section)[Canada](https://internshala.com/study_abroad/canada/all/all/?utm_source=REDACTED_ID#program-section)[Germany](https://internshala.com/study_abroad/germany/all/all/?utm_source=REDACTED_ID#program-section)[Australia](https://internshala.com/study_abroad/australia/all/all/?utm_source=REDACTED_ID#program-section)[France](https://internshala.com/study_abroad/france/all/all/?utm_source=REDACTED_ID#program-section)[UAE](https://internshala.com/study_abroad/uae/all/all/?utm_source=REDACTED_ID#program-section)[View all](https://internshala.com/study_abroad?utm_source=REDACTED_ID)      \n*   [Jobs](https://internshala.com/jobs/?utm_source=is_header) Top Locations    Top Categories    Fresher Jobs    Explore More Jobs    Career Launchpads  Get hired faster    [Work from home](https://internshala.com/jobs/work-from-home/?utm_source=is_menu_dropdown)[Jobs in Bangalore](https://internshala.com/jobs/jobs-in-bangalore/?utm_source=is_menu_dropdown)[Jobs in Delhi](https://internshala.com/jobs/jobs-in-delhi/?utm_source=is_menu_dropdown)[Jobs in Hyderabad](https://internshala.com/jobs/jobs-in-hyderabad/?utm_source=is_menu_dropdown)[Jobs in Gurgaon](https://internshala.com/jobs/jobs-in-gurgaon/?utm_source=is_menu_dropdown)[Jobs in Kolkata](https://internshala.com/jobs/jobs-in-kolkata/?utm_source=is_menu_dropdown)[Jobs in Mumbai](https://internshala.com/jobs/jobs-in-mumbai/?utm_source=is_menu_dropdown)[Jobs in Pune](https://internshala.com/jobs/jobs-in-pune/?utm_source=is_menu_dropdown)[Jobs in Chennai](https://internshala.com/jobs/jobs-in-chennai/?utm_source=is_menu_dropdown)[Jobs in Noida](https://internshala.com/jobs/jobs-in-noida/?utm_source=is_menu_dropdown)[Jobs in Jaipur](https://internshala.com/jobs/jobs-in-jaipur/?utm_source=is_menu_dropdown)[Jobs in Coimbatore](https://internshala.com/jobs/jobs-in-coimbatore/?utm_source=is_menu_dropdown)[Jobs in Lucknow](https://internshala.com/jobs/jobs-in-lucknow/?utm_source=is_menu_dropdown)[View all jobs](https://internshala.com/jobs/?utm_source=is_menu_dropdown)  [Data Entry Jobs](https://internshala.com/jobs/data-entry-jobs/?utm_source=is_menu_dropdown)[Content Writing Jobs](https://internshala.com/jobs/REDACTED_ID/?utm_source=is_menu_dropdown)[Digital Marketing Jobs](https://internshala.com/jobs/REDACTED_ID/?utm_source=is_menu_dropdown)[Data Science Jobs](https://internshala.com/jobs/data-science-jobs/?utm_source=is_menu_dropdown)[Cyber Security Jobs](https://internshala.com/jobs/cyber-security-jobs/?utm_source=is_menu_dropdown)[Pharma Jobs](https://internshala.com/jobs/pharmaceutical-jobs/?utm_source=is_menu_dropdown)[Teaching Jobs](https://internshala.com/jobs/teaching-jobs/?utm_source=is_menu_dropdown)[HR Jobs](https://internshala.com/jobs/hr-jobs/?utm_source=is_menu_dropdown)[MBA Jobs](https://internshala.com/jobs/mba-jobs/?utm_source=is_menu_dropdown)[Graphic Design Jobs](https://internshala.com/jobs/graphic-design-jobs/?utm_source=is_menu_dropdown)[Part Time Jobs](https://internshala.com/jobs/part-time-jobs/?utm_source=is_menu_dropdown)[Jobs for Women](https://internshala.com/jobs-for-women/?utm_source=is_menu_dropdown)[WFH Jobs for Women](https://internshala.com/jobs-for-women/work-from-home/?utm_source=is_menu_dropdown)[Part Time Jobs for Women](https://internshala.com/jobs-for-women/part-time-jobs/?utm_source=is_menu_dropdown)[View all jobs](https://internshala.com/jobs/?utm_source=is_menu_dropdown)  [Work from home](https://internshala.com/fresher-jobs/work-from-home/?utm_source=is_menu_dropdown)[Fresher Jobs in Bangalore](https://internshala.com/fresher-jobs/jobs-in-bangalore/?utm_source=is_menu_dropdown)[Fresher Jobs in Delhi](https://internshala.com/fresher-jobs/jobs-in-delhi/?utm_source=is_menu_dropdown)[Fresher Jobs in Hyderabad](https://internshala.com/fresher-jobs/jobs-in-hyderabad/?utm_source=is_menu_dropdown)[Fresher Jobs in Chennai](https://internshala.com/fresher-jobs/jobs-in-chennai/?utm_source=is_menu_dropdown)[Fresher Jobs in Pune](https://internshala.com/fresher-jobs/jobs-in-pune/?utm_source=is_menu_dropdown)[MBA Fresher Jobs](https://internshala.com/fresher-jobs/mba-jobs/?utm_source=is_menu_dropdown)[HR Fresher Jobs](https://internshala.com/fresher-jobs/hr-jobs/?utm_source=is_menu_dropdown)[Civil Fresher Jobs](https://internshala.com/fresher-jobs/civil-jobs/?utm_source=is_menu_dropdown)[Digital Marketing Fresher Jobs](https://internshala.com/fresher-jobs/REDACTED_ID/?utm_source=is_menu_dropdown)[Part Time Fresher Jobs](https://internshala.com/fresher-jobs/part-time-jobs/?utm_source=is_menu_dropdown)[View all fresher jobs](https://internshala.com/fresher-jobs/?utm_source=is_menu_dropdown)  [Jobs by Category](https://internshala.com/jobs-by-category/?utm_source=is_menu_dropdown)[Jobs by Location](https://internshala.com/jobs-by-location/?utm_source=is_menu_dropdown)[Jobs by Designation](https://internshala.com/jobs-by-designation/?utm_source=is_menu_dropdown)[Jobs by Skill](https://internshala.com/jobs-by-skill/?utm_source=is_menu_dropdown)[Jobs by Company](https://internshala.com/jobs-at-company/?utm_source=is_menu_dropdown)[WFH Job Types](https://internshala.com/REDACTED_ID/?utm_source=is_menu_dropdown)  [Web Development Course Course](https://trainings.internshala.com/REDACTED_ID?utm_source=REDACTED_ID)[Data Science Course Course](https://trainings.internshala.com/REDACTED_ID?utm_source=REDACTED_ID)[Digital Marketing Course Course](https://trainings.internshala.com/REDACTED_ID?utm_source=REDACTED_ID)[HR Management Course Course](https://trainings.internshala.com/REDACTED_ID?utm_source=REDACTED_ID)     \n*   [Login / Register](https://internshala.com/jobs/REDACTED_ID/)\n\n    *   [Register as a student](https://internshala.com/registration/student)\n    *   [Register as an employer](https://internshala.com/hire-talent)\n    *   [Login](https://internshala.com/jobs/REDACTED_ID/)\n\nOne time offer\n\n![Image 1](https://internshala.com/static/images/internship/subscription-popup/r1920.png)\n\nSign up now to unlock\n\nFREE\n\n AI Career Guide worth \u20b9599\n\nCustom job alerts delivered to your inbox\n\n Valid only for \n\n04m : 47s\n\n By signing up, you agree to our [Terms and Conditions](https://internshala.com/terms#student). \n\n[![Image 2](https://internshala.com/static/images/login/google_logo.png) Sign up with Google](https://internshala.com/login/get_google/?utm_source=modal_signup_search)\n\nOR\n\n[Sign up with Email](https://internshala.com/registration/student/?utm_source=modal_signup_search)\n\n Filters \n\nProfile \n\nLocation \n\n- [x] Work from home \n\n- [x] Part-time \n\nAnnual salary (in lakhs) \n\n*   \u20b9 1 lakhs\n*   \u20b9 2 lakhs\n*   \u20b9 3 lakhs\n*   \u20b9 4 lakhs\n*   \u20b9 5 lakhs\n*   \u20b9 6 lakhs\n*   \u20b9 7 lakhs\n*   \u20b9 8 lakhs\n*   \u20b9 9 lakhs\n*   \u20b9 10 lakhs\n\nYears of experience \n\n*   Fresher\n*   1 Years\n*   2 Years\n*   3 Years\n*   4 Years\n*   5 Years\n*   5+ Years\n\n[Clear All](https://internshala.com/jobs/REDACTED_ID/ \"All filters applied have been cleared. Click on 'Apply' to view all jobs\")\n\n Apply \n\nSearch\n\n[Home](https://internshala.com/)[Jobs](https://internshala.com/jobs/)\n\nFilters\n\n As per my preferences \n\n Profile\n\n Location\n\n Work from home \n\n Part Time \n\n Stipend\n\n Salary\n\n Experience\n\nAs per my preferences\n\nProfile\n\nLocation\n\nWork from home\n\nPart Time\n\nStipend\n\nSalary\n\nExperience\n\nAll Filters\n\n[Save this search as alert](https://internshala.com/registration/student)\n\n# 12940 Jobs\n\nSearch and Apply to Latest Job Vacancies & Openings in India\n\n[Save this search as alert](https://internshala.com/registration/student)\n\nFilters\n\nProfile \n\nLocation \n\n- [x] Work from home \n\n- [x] Part-time \n\nAnnual salary (in lakhs) \n\n 0 \n\n 2 \n\n 4 \n\n 6 \n\n 8 \n\n 10 \n\nYears of experience \n\n[Clear all](https://internshala.com/jobs/REDACTED_ID/)\n\n OR \n\nSearch\n\n[Get hired faster \u2022 Promoted Online Course with Placement Assistance ![Image 3](https://internshala.com/static/images/skills.png) Upskill & stand out as **top applicant** ![Image 4](https://internshala.com/static/images/briefcase.png)Get **priority access** to top opportunities ![Image 5](https://internshala.com/static/images/video_call.png)**Role specific** Unlimited mock AI interviews Promoted Apply now](https://trainings.internshala.com/?utm_source=REDACTED_ID&tracking_source=trainings-cards#REDACTED_ID)\n\n## [Customer Relationship Executive [female Candidates]](https://internshala.com/job/detail/REDACTED_ID)\n\nIndianmodels91\n\nActively hiring\n\n![Image 6: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Delhi](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 5,60,000 - 6,25,000  \u20b9 5,60,000 - 6,25,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Handling incoming and outgoing calls. Processing the enquiry to manage with the team 2. Conducting independent Interviews and hr services of profiles applying to join us. Selecting profiles as per the guidelines 3. Must have Skills to organise events, conferences, coordinating with social media, and confident business development and public relations skills 4. Promoting company events, press releases, product and service launches 5. Knowledge of social media platforms to handle multitasking as per business enquiries and developments. 6. Intercity travels, accommodation for outstation profiles, training, grooming, and internship for freshers are provided. 7. Guest relations and hospitality services with high-profile clients will be added as a point 8. Apply only if willing to join immediately \n\nEvent Management\n\nRecruitment\n\nFashion Designing\n\nClient Relationship\n\nEnglish Proficiency (Spoken)\n\nEnglish Proficiency (Written)\n\nHindi Proficiency (Spoken)\n\n+4 more\n\n1 day ago\n\nFresher Job\n\n## [Relationship Manager (B2B Sales)](https://internshala.com/job/detail/REDACTED_ID)\n\nZopper\n\nActively hiring\n\n![Image 7: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Hyderabad](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 6,00,000  \u20b9 6,00,000 /year \n\nNo experience required\n\n Are you a dynamic and results-driven individual with a passion for B2B sales and stakeholder management? Zopper is seeking a talented Relationship Manager to join our team and drive sales growth in the retail management sector. Key Responsibilities: 1. Stakeholder management: Build and maintain strong relationships with Brand HQ teams, retailers, service centers, and promoters. Act as the primary point of contact to address queries, resolve concerns, and ensure ongoing support to achieve sales targets. 2. Training: Design and deliver effective training programs for retail owners, service staff, and promoters, ensuring they are well-equipped to understand and communicate the features and benefits of Device Protection Plans. 3. Digital engagement: Engage stakeholders via WhatsApp, email, and calls to share updates, provide support, and drive awareness. Leverage digital tools to generate leads and enhance engagement. 4. Promoter & retail engagement: Work closely with promoters and shop owners to build product visibility and mindshare. Plan and execute promotional activities and events to boost offline sales. 5. Reporting: Maintain accurate records of sales, trainings, and stakeholder interactions. Provide regular reports with insights on performance, market trends, and improvement opportunities. If you have a proven track record in B2B sales, possess excellent communication and negotiation skills, and thrive in a fast-paced environment, we want to hear from you! Join Zopper and take your career to the next level in retail management sales. Apply now! \n\nB2B Sales\n\nRetail Management\n\nSales\n\nStakeholder Management\n\nSales Strategy\n\n1 day ago\n\nFresher Job\n\n## [Sales Executive (Telecalling)](https://internshala.com/job/detail/REDACTED_ID)\n\nBig Beautiful Buys\n\nActively hiring\n\n![Image 8: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Delhi](https://internshala.com/jobs/REDACTED_ID/), [Gurgaon](https://internshala.com/jobs/REDACTED_ID/), [Noida](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 6,60,000 - 13,80,000  \u20b9 6,60,000 - 13,80,000 /year \n\nNo experience required\n\n Key responsibilities: 1. \ud83d\udcde Turn conversations into conversions: You\u2019ll speak with warm leads and guide them toward saying YES. 2. \ud83e\udde0 Understand people, not just pitch them: Figure out what they actually want from us\u2014 then connect the dots. 3. \ud83d\udcac Explain things like a human, not a script: Break down our programs in a simple, relatable way. 4. \ud83d\uded1 Handle objections like a pro: \ud83d\udd01 Follow up till it closes (or clearly doesn\u2019t). 5. \ud83d\udcca Keep your pipeline clean & updated: Notes, follow-ups, statuses \u2014 basic discipline = better conversions. 6. \ud83d\ude80 Own your numbers: Targets aren\u2019t pressure here \u2014 they\u2019re your opportunity to earn more. \n\nMS-Excel\n\nSales Management\n\nEnglish Proficiency (Spoken)\n\nSales\n\nEffective Communication\n\nSales Strategy\n\n3 weeks ago\n\nFresher Job\n\n## [Career Counselor - FEMALE](https://internshala.com/job/detail/REDACTED_ID)\n\nCodeOut\n\nActively hiring\n\n![Image 9: CodeOut](https://internshala-uploads.internshala.com/logo%2Fif0ywu1c6m_-16451.jpg.webp)\n\n[Noida](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 6,00,000 - 10,50,000  \u20b9 6,00,000 - 10,50,000 /year \n\n1 year(s)\n\n Key Responsibilities: 1. Handle student inquiries via calls, WhatsApp, and emails. 2. Counsel students on courses, career paths, and training programs. 3. Follow up with leads and convert them into admissions. 4. Maintain accurate records of leads, calls, and follow-ups in CRM or Excel. 5. Clearly explain course details, fees, loan options, and batch schedules. 6. Build trust by addressing student doubts and concerns. 7. Coordinate with operations and training teams for smooth onboarding. 8. Ensure timely collection of documents and fee processing. 9. Achieve daily and weekly admission targets. 10. Provide regular updates and reports to the management team. \n\nMS-Excel\n\n3 weeks ago\n\n## [Teacher](https://internshala.com/job/detail/REDACTED_ID)\n\nGerman Studio\n\nActively hiring\n\n![Image 10: German Studio](https://internshala-uploads.internshala.com/logo%2Fe7j68fxvmv7-35282.png.webp)\n\n[Ahmedabad](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,80,000 - 6,00,000  \u20b9 4,80,000 - 6,00,000 /year \n\n1 year(s)\n\n Are you passionate about teaching and fluent in German? Do you have a knack for communicating effectively in both spoken and written German? If so, we have the perfect opportunity for you at our German Studio company! As a Teacher with German proficiency, you will have the chance to share your love for the language with students of all ages. Your responsibilities will include: 1. Developing engaging and interactive lesson plans that cater to students' individual learning styles 2. Providing clear instruction in both spoken and written German to help students improve their language skills 3. Assessing students' progress and adjusting teaching methods as needed to ensure their success 4. Creating a positive and inclusive classroom environment that fosters a love for the German language 5. Collaborating with colleagues to share best practices and enhance the overall learning experience 6. Participating in professional development opportunities to stay current on language teaching trends and techniques 7. Inspiring students to embrace the beauty of the German language and culture through immersive learning experiences 8.Should have C1 preferred otherwise B2 atleast If you are a dedicated and enthusiastic Teacher with a strong command of German, we invite you to join our team and make a lasting impact on our students' language journey. Apply now and take the first step towards an exciting career with us! \n\nGerman Proficiency (Spoken)\n\nGerman Proficiency (Written)\n\n1 week ago\n\n![Image 11: early applicant icon](https://internshala.com/static/images/icons/bolt_icon_color.svg)Be an early applicant\n\n![Image 12](https://internshala.com/static/images/REDACTED_ID.png)\n\nRegister now to\n\n![Image 13: image](https://internshala.com/static/images/modals/congratulatory/done.svg)\n\nFind personalised job recommendations\n\n![Image 14: image](https://internshala.com/static/images/modals/congratulatory/done.svg)\n\nGet contacted by top recruiters\n\n![Image 15: image](https://internshala.com/static/images/modals/congratulatory/done.svg)\n\nAccess free AI-powered tools\n\n[![Image 16: google_logo](https://internshala.com/static/images/login/google_logo_24.svg) Continue with Google](https://internshala.com/login/get_google?utm_source=REDACTED_ID&referral=REDACTED_ID)[Continue with Email](https://internshala.com/registration/student?utm_source=REDACTED_ID&referral=REDACTED_ID)\n\nBy continuing, you agree to our [T&C.](https://internshala.com/terms)\n\n## [Business Development Executive](https://internshala.com/job/detail/REDACTED_ID)\n\nKraft-Obench\n\nActively hiring\n\n![Image 17: Kraft-Obench](https://internshala-uploads.internshala.com/logo%2F52t353riq51-40381.png.webp)\n\n[Delhi](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,60,000 - 8,82,000  \u20b9 4,60,000 - 8,82,000 /year \n\n1 year(s)\n\n Key responsibilities: 1. Handle inbound leads. 2. Understand client requirements and provide consultative solutions. 3. Build and deliver effective sales proposals and pitches. 4. Negotiate terms and close deals successfully. 5. Maintain strong client relationships throughout the sales cycle. 6. Coordinate with internal teams for smooth execution (manufacturing to installation). 7. Conduct market research to identify trends, opportunities, and potential threats to our business. \n\nClient Relationship Management (CRM)\n\nB2B Sales\n\nSales Management\n\nBusiness Development\n\nSales\n\nEffective Communication\n\nNegotiations\n\n2 weeks ago\n\n## [Field Sales Associate](https://internshala.com/job/detail/REDACTED_ID)\n\nPEARLS & CARATS\n\nActively hiring\n\n![Image 18: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Delhi](https://internshala.com/jobs/REDACTED_ID/), [Gurgaon](https://internshala.com/jobs/REDACTED_ID/), [Noida](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 7,60,000  \u20b9 4,50,000 - 7,60,000 /year \n\n1 year(s)\n\n This role is best suited for individuals who are comfortable with on-ground sales, approaching new people, and working in a target-driven environment. You will represent Pearls & Carats, a premium natural diamond jewellery brand, and play a key role in generating high-quality leads and appointments. Key Responsibilities: 1. Approach and engage with potential customers in public places to introduce the brand and its exclusive home consultation experience. 2. Generate genuine interest in our natural diamond jewellery collections and schedule home trial or consultation appointments. 3. Maintain records of leads and ensure a professional, confident, and well-mannered representation of the brand, with a polite and respectful approach at all times. Job Details: 1. Field Sales Associate (On-Ground | Delhi NCR) 2. Start Date: Immediately 3. Duration: 1-month probation & evaluation period (with full-time opportunity based on performance) 4. Perks: Certificate of completion (on satisfactory performance) What We Offer: 1. Fixed Salary + performance-based incentives on successful leads and conversions 2. Opportunity to earn significantly more based on performance/lead generation. Hands-on experience in luxury jewellery sales 3. Training and mentorship before fieldwork 4. High performers who show dedication, willingness to learn, and strong field performance will be offered a full-time role with higher earnings and long-term growth opportunities. \n\nNetworking\n\nLead Generation\n\nClient Relationship\n\nEnglish Proficiency (Spoken)\n\nHindi Proficiency (Spoken)\n\nInterpersonal skills\n\nEffective Communication\n\n+1 more\n\n3 weeks ago\n\n## [Human Resources (HR) Associate](https://internshala.com/job/detail/REDACTED_ID)\n\nZucol Solutions Private Limited\n\nActively hiring\n\n![Image 19: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Jaipur](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,00,000 - 4,80,000  \u20b9 3,00,000 - 4,80,000 /year \n\nNo experience required\n\n Key responsibilities: 1. Recruitment Process 2. Joining and ensure smooth onboarding 3. Itnerview schduled 4. Interview Conducted \n\nMS-Excel\n\nEnglish Proficiency (Spoken)\n\nEnglish Proficiency (Written)\n\n1 day ago\n\nFresher Job\n\n## [Content Creator \u2013 Video & Reels (Female)](https://internshala.com/job/detail/REDACTED_ID)\n\nMikromoon Creations\n\nActively hiring\n\n![Image 20: Mikromoon Creations](https://internshala-uploads.internshala.com/logo%2F5yzakb3dysp-28178.png.webp)\n\n[Jaipur](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 2,00,000 - 3,20,000  \u20b9 2,00,000 - 3,20,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Create high-volume short-form videos and reels for Instagram and Meta ads \u2014 daily or near-daily output 2. Self-shoot on-camera content (influencer-style UGC) and/or shoot product videos at our studio/location in Jaipur 3. Do basic-to-moderate video editing using mobile or desktop tools to produce ready-to-post content \n\nVideo Editing\n\nAdobe Premiere Pro\n\nVideo Making\n\nInstagram Marketing\n\nInstagram Ads\n\nFilmora\n\nCapcut\n\n1 week ago\n\n![Image 21: early applicant icon](https://internshala.com/static/images/icons/bolt_icon_color.svg)Be an early applicant\n\nFresher Job\n\n## [Accountant](https://internshala.com/job/detail/REDACTED_ID)\n\nZucol Solutions Private Limited\n\nActively hiring\n\n![Image 22: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Jaipur](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 2,70,000 - 5,50,000  \u20b9 2,70,000 - 5,50,000 /year \n\nNo experience required\n\n Key responsibilities: 1. Maintain daily accounting records, including vouchers, invoices, and ledgers. 2. Prepare and review financial statements, balance sheets, and profit & loss accounts. 3. Handle bank reconciliations, journal entries, and cash flow management. 4. Assist in GST, TDS, and other statutory compliance work. 5. Coordinate with auditors and management for financial reporting and reviews. \n\nAccounting\n\nTally\n\nMS-Excel\n\nAuditing\n\nBank Reconciliation\n\nGST\n\n3 weeks ago\n\nFresher Job\n\n## [Junior Social Media Marketing Trainee](https://internshala.com/job/detail/REDACTED_ID)\n\nSGT UNIVERSITY\n\n![Image 23: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Gurgaon](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 12,00,000  \u20b9 12,00,000 /year \n\nNo experience required\n\n Key responsibilities: 1.Assist in managing and updating social media platforms (Instagram, Facebook, LinkedIn, Twitter, YouTube) Create engaging content including posts, reels, stories, and captions Support in planning and executing social media campaigns and promotional activities Monitor social media trends and suggest innovative ideas for engagement Respond to comments, messages, and queries in a timely manner Assist in analyzing performance metrics and preparing reports Coordinate with different departments for content and event coverage Maintain content calendar and ensure timely posting\n\nSocial Media Marketing\n\nSearch Engine Marketing (SEM)\n\nDigital Marketing\n\nSearch Engine Optimization (SEO)\n\nFacebook Marketing\n\nCreative Writing\n\nEnglish Proficiency (Spoken)\n\n+1 more\n\n2 weeks ago\n\nFresher Job\n\n## [Artificial Intelligence (AI) Executive](https://internshala.com/job/detail/REDACTED_ID)\n\nVIZON\n\n![Image 24: VIZON](https://internshala-uploads.internshala.com/logo%REDACTED_ID.png.webp)\n\n[Dehradun](https://internshala.com/jobs/REDACTED_ID/), [Delhi](https://internshala.com/jobs/REDACTED_ID/), [Bangalore](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 10,60,000 - 20,30,000  \u20b9 10,60,000 - 20,30,000 /year \n\nNo experience required\n\n Key responsibilities: 1. Work on brainstorming, researching & developing AI programs pertaining to computer vision & ML 2. Work on utilizing C++, Python, their libraries & Linux Benefits: 1. Flexible work timings 2. Food and accommodation provided 3. Performance incentives & bonuses 4. Employee stock options 5. Unlimited holidays 6. Creative freedom 7. Exposure to new technology You can visit our website https://vizon.tech to know more. If you want to explore open source projects, then check the Club section of the website and join our Discord server to stay updated: https://discord.gg/z6vfsbBtu8 \n\nOpenCV\n\nPython\n\nLinux\n\nMachine Learning\n\nComputer Vision\n\nC++ Programming\n\nNeural Networks\n\n+2 more\n\n3 weeks ago\n\nFresher Job\n\n## [Artificial Intelligence (AI) Executive](https://internshala.com/job/detail/REDACTED_ID)\n\nVIZON\n\n![Image 25: VIZON](https://internshala-uploads.internshala.com/logo%REDACTED_ID.png.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 10,60,000 - 20,30,000  \u20b9 10,60,000 - 20,30,000 /year \n\nNo experience required\n\n Key responsibilities: 1. Work on brainstorming, researching & developing AI programs pertaining to computer vision & ML 2. Work on utilizing C++, Python, their libraries & Linux Benefits: 1. Flexible work timings 2. Food and accommodation provided 3. Performance incentives & bonuses 4. Employee stock options 5. Unlimited holidays 6. Creative freedom 7. Exposure to new technology You can visit our website https://vizon.tech to know more. If you want to explore open source projects, then check the Club section of the website and join our Discord server to stay updated: https://discord.gg/z6vfsbBtu8 \n\nOpenCV\n\nPython\n\nLinux\n\nComputer Vision\n\nC++ Programming\n\n3 weeks ago\n\nFresher Job\n\n## [AR/VR Game Developer](https://internshala.com/job/detail/REDACTED_ID)\n\nVIZON\n\n![Image 26: VIZON](https://internshala-uploads.internshala.com/logo%REDACTED_ID.png.webp)\n\n[Dehradun](https://internshala.com/jobs/REDACTED_ID/), [Delhi](https://internshala.com/jobs/REDACTED_ID/), [Bangalore](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 10,30,000 - 20,10,000  \u20b9 10,30,000 - 20,10,000 /year \n\nNo experience required\n\n Key responsibilities: 1. Working on an XR (AR/VR) interface in Unity with C# 2. Developing multiple interactive apps 3. Utilizing AI & computer vision data 4. Designing AR/VR games 5. Designing 3D & 2D assets Benefits: 1. Flexible work hours 2. Performance incentives & bonuses 3. Employee stock options 4. Unlimited holidays 5. Creative freedom 6. Exposure to new technology You can visit our website https://vizon.tech to know more. \n\nC#\n\nBlender 3D\n\nC++ Programming\n\nUnity Engine\n\n3 weeks ago\n\nFresher Job\n\n## [AR/VR Game Developer](https://internshala.com/job/detail/REDACTED_ID)\n\nVIZON\n\n![Image 27: VIZON](https://internshala-uploads.internshala.com/logo%REDACTED_ID.png.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 10,30,000 - 20,10,000  \u20b9 10,30,000 - 20,10,000 /year \n\nNo experience required\n\n Key responsibilities: 1. Working on an XR (AR/VR) interface in Unity with C# 2. Developing multiple interactive apps 3. Utilizing AI & computer vision data 4. Designing AR/VR games 5. Designing 3D & 2D assets Benefits: 1. Flexible work hours 2. Performance incentives & bonuses 3. Employee stock options 4. Unlimited holidays 5. Creative freedom 6. Exposure to new technology You can visit our website https://vizon.tech to know more. \n\nC#\n\nBlender 3D\n\nC++ Programming\n\nUnity Engine\n\n3 weeks ago\n\nFresher Job\n\n## [Strategy Manager](https://internshala.com/job/detail/REDACTED_ID)\n\nTurtlemint\n\n![Image 28: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Mumbai](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 10,00,000  \u20b9 10,00,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Develop predictive frameworks and data-driven models to identify high-potential opportunities within the network. 2. Define and execute strategic roadmaps for new category growth. 3. Design and run structured experiments to test growth hypotheses, activation drivers, and engagement strategies. \n\nJava\n\nPython\n\n1 week ago\n\nFresher Job\n\n## [Presenter](https://internshala.com/job/detail/REDACTED_ID)\n\nGreater Than Educational Technologies\n\nActively hiring\n\n![Image 29: Greater Than Educational Technologies](https://internshala-uploads.internshala.com/logo%2F8se4a0cn0ni-76674.png.webp)\n\n[Hyderabad](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 8,00,000 - 15,00,000  \u20b9 8,00,000 - 15,00,000 /year \n\n1 year(s)\n\n Are you passionate about education, media, and digital storytelling? Do you have strong English communication skills, camera confidence, and the ability to engage audiences through impactful presentations? If yes, this opportunity is for you! Join Greater Than Educational Technologies as a Video Presenter and become the face of engaging educational content for millions of learners. We are looking for expressive, energetic, and screen-friendly personalities who can simplify concepts, connect with audiences, and bring learning to life through high-quality video presentations. Key Responsibilities: 1. Present engaging academic and non-academic video content for our digital learning platforms. 2. Deliver confident, clear, and audience-focused recorded and live sessions. 3. Collaborate with content writers, creative teams, and production teams to develop impactful video content. 4. Bring scripts to life with strong screen presence, voice modulation, and expressive communication. 5. Ensure videos maintain high production quality and align with brand standards. 6. Interact with learners through webinars, live sessions, and audience engagement activities. 7. Stay updated with trends in media, presentation techniques, and educational technology to enhance content delivery. 8. Continuously improve presentation style through feedback and performance reviews. Camera-facing or Public Speaking Roles If being in front of the camera feels natural to you and you\u2019re excited to inspire learners through impactful content, we\u2019d love to hear from you. Apply now and become part of the future of learning! \n\nPresentation skills\n\nEnglish Proficiency (Spoken)\n\nEffective Communication\n\n1 week ago\n\n## [Inside Sales Associate - Bangalore](https://internshala.com/job/detail/REDACTED_ID)\n\nMediBuddy\n\nActively hiring\n\n![Image 30: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Bangalore](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 7,00,000  \u20b9 7,00,000 /year \n\n1 year(s)\n\n Key Responsibilities: 1. Counseling around 100 customers over the phone every day who have downloaded MediBuddy. 2. Following up with them and converting them into leads. 3. Influencing consumer choice and preference of service by following a prepared script to give relevant specialty information. 4. Maintaining procedures, processes, and quality on all the calls. 5. Expedite the resolution of customer problems and complaints to maximize satisfaction. 6. Achieve sales targets and talk time targets. Note:- Salary: \u20b94.5 LPA (Fixed) + Up to \u20b92.5 LPA Incentives based on target achievement. Working days: 6-day work week with rotational week-offs.\n\nMS-Office\n\nCold Calling\n\nEnglish Proficiency (Spoken)\n\nHindi Proficiency (Spoken)\n\nSales\n\nEffective Communication\n\n5 days ago\n\n![Image 31: Pro exclusive](https://internshala-uploads.internshala.com/common/image/1mwyc3lttsb.svg)PRO\n\n## [Credit Anyalisit](https://internshala.com/job/detail/REDACTED_ID)\n\n![Image 32: Pro exclusive](https://internshala-uploads.internshala.com/common/image/1mwyc3lttsb.svg)PRO\n\nCredent Financial Advisors\n\n![Image 33: Credent Financial Advisors](https://internshala-uploads.internshala.com/logo%2F60ao1a9n6h6-24630.jpg.webp)\n\n[Mumbai](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 6,00,000 - 12,00,000  \u20b9 6,00,000 - 12,00,000 /year \n\n1 year(s)\n\n Key Responsibilities: 1. Analyze Financial Statement, Credit assessment, and risk revaluation Prepare credit report and Projections 2. Liaise with the Bank 3. Monitor and flag Risk \n\nMS-Excel\n\n1 day ago\n\n## [Corporate Sales Associate](https://internshala.com/job/detail/REDACTED_ID)\n\nAltrm\n\n![Image 34: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 11,80,000  \u20b9 4,50,000 - 11,80,000 /year \n\n1 year(s)\n\n Altrm is hiring a commission-based sales representative to help us grow our pipeline and close new B2B customers. This is a high-ownership role for someone driven, consistent, and comfortable selling tech (or currently studying it). We specialize in end-to-end software engineering, offering custom application development, secure cloud infrastructure, and AI-driven process automation. We handle the entire technical lifecycle from strategy, UI/UX design, to deployment and ongoing maintenance. We ensure your digital systems are built to scale. Key Responsibilities: 1. Prospect and qualify leads (cold outreach, LinkedIn/email, warm follow-ups). 2. Run discovery calls, understand customer workflows/pain points, and map Altrm\u2019s value clearly. 3. Own the sales process from first touch to close (pipeline, follow-ups, next steps). 4. Keep clean notes in CRM and share weekly updates (pipeline, blockers, wins). 5. Collaborate with the founder/product team to refine pitch, positioning, and ideal customer profile. Compensation: 1. Base pay plus commission based with uncapped earning potential. 2. Commission is paid per closed deal (and may include performance accelerators/bonuses based on volume or deal size). 3. Clear rules: tracked deals, payout timing, and eligibility are documented before you start. What you get: 1. Sales collateral, product training, scripts, and a repeatable process. 2. Direct access to the founder for fast feedback and quicker closes. 3. Flexibility (remote, performance-focused). \n\nEmail Marketing\n\nClient Relationship Management (CRM)\n\nEnglish Proficiency (Spoken)\n\nJust now\n\n![Image 35: early applicant icon](https://internshala.com/static/images/icons/bolt_icon_color.svg)Be an early applicant\n\n## [Online Data Analyst - Telugu Speaker](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 36: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\nNo experience required\n\n Are you a detail-oriented individual with a passion for research and a good understanding of national and local geography? This opportunity allows you to work at your own pace and from the comfort of your own home. Key Responsibilities: 1. Working on a project aimed at enhancing the content and quality of digital maps that are used by millions of people worldwide. 2. Completing research and evaluation tasks in a web-based environment such as verifying and comparing data, and determining the relevance and accuracy of information.  Join us today and be part of a dynamic and innovative team that is making a difference in the world! TELUS Digital AI Community: Our global AI Community is a vibrant network of 1 million+ contributors from diverse backgrounds who help our customers collect, enhance, train, translate, and localize content to build better AI models. Become part of our growing community and make an impact supporting the machine learning models of some of the world\u2019s largest brands. Qualification path:  No previous professional experience is required to apply to this role, however, working on this project will require you to pass the basic requirements and go through a standard assessment process. This is a part-time long-term project and your work will be subject to our standard quality assurance checks during the term of this agreement. Assessment: In order to be hired into the program, you\u2019ll take an open book qualification exam that will determine your suitability for the position and complete ID verification. Our team will provide you with guidelines and learning materials before your qualification exam. You will be required to complete the exam in a specific timeframe but at your convenience.\n\nEnglish Proficiency (Spoken)\n\nEnglish Proficiency (Written)\n\nTelugu Proficiency (Written)\n\nTelugu Proficiency (Spoken)\n\nArtificial intelligence\n\n3 days ago\n\nInternational\n\nFresher Job\n\nPart time\n\n## [Online Data Analyst - Punjabi Speaker](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 37: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\nNo experience required\n\n Are you a detail-oriented individual with a passion for research and a good understanding of national and local geography? This opportunity allows you to work at your own pace and from the comfort of your own home. Key Responsibilities: 1. Working on a project aimed at enhancing the content and quality of digital maps that are used by millions of people worldwide. 2. Completing research and evaluation tasks in a web-based environment such as verifying and comparing data, and determining the relevance and accuracy of information.  Join us today and be part of a dynamic and innovative team that is making a difference in the world! TELUS Digital AI Community: Our global AI Community is a vibrant network of 1 million+ contributors from diverse backgrounds who help our customers collect, enhance, train, translate, and localize content to build better AI models. Become part of our growing community and make an impact supporting the machine learning models of some of the world\u2019s largest brands. Qualification path:  No previous professional experience is required to apply to this role, however, working on this project will require you to pass the basic requirements and go through a standard assessment process. This is a part-time long-term project and your work will be subject to our standard quality assurance checks during the term of this agreement. Assessment: In order to be hired into the program, you\u2019ll take an open book qualification exam that will determine your suitability for the position and complete ID verification. Our team will provide you with guidelines and learning materials before your qualification exam. You will be required to complete the exam in a specific timeframe but at your convenience.\n\nEnglish Proficiency (Spoken)\n\nEnglish Proficiency (Written)\n\nPunjabi Proficiency (Spoken)\n\nPunjabi Proficiency (Written)\n\nArtificial intelligence\n\n3 days ago\n\nInternational\n\nFresher Job\n\nPart time\n\n## [Online Data Analyst - Urdu Speaker](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 38: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Work on a project aimed at improving the content and quality of digital maps used by millions globally. 2. Perform research and review tasks in a web-based environment, such as data verification, comparison, and determining the relevance and accuracy of information. Qualification path: 1. No professional experience is required to apply for this role. Before starting the work, you must meet basic requirements and go through a standard evaluation process. This is a part-time, long-term project, and the quality of your work will be assessed 2. according to our review principles throughout the contract. Assessment: To be selected for this program, you will need to pass an open-book exam that determines your suitability for the position and complete identity verification. Our team will provide guidelines and learning materials before the exam. The exam must be completed within a specific timeframe, but at your convenience. \n\nUrdu Proficiency(Spoken)\n\nUrdu Proficiency(Written)\n\n3 weeks ago\n\nInternational\n\nFresher Job\n\nPart time\n\n## [Online Data Analyst - Tamil Speaker](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 39: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Working on a project aimed at enhancing the content and quality of digital maps that are used by millions of people worldwide. 2. Completing research and evaluation tasks in a web-based environment such as verifying and comparing data, and determining the relevance and accuracy of information. Qualification path: No previous professional experience is required to apply to this role, however, working on this project will require you to pass the basic requirements and go through a standard assessment process. This is a part-time long-term project and your work will be subject to our standard quality assurance checks during the term of this agreement. Assessment: In order to be hired into the program, you\u2019ll take an open book qualification exam that will determine your suitability for the position and complete ID verification. Our team will provide you with guidelines and learning materials before your qualification exam. You will be required to complete the exam in a specific timeframe but at your convenience. \n\nTamil Proficiency (Spoken)\n\nTamil Proficiency (Written)\n\n3 weeks ago\n\nInternational\n\nFresher Job\n\nPart time\n\n## [WFH Online Data Analyst Malayalam Language](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 40: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\nNo experience required\n\n A Day in the Life of an Online Data Analyst: In this role, you will be working on a project aimed at enhancing the content and quality of digital maps used by millions of people worldwide. Key Responsibilities: 1. Complete research and evaluation tasks in a web-based environment 2. Verify and compare data for accuracy and consistency 3. Determine the relevance and reliability of information Join us today and be part of a dynamic and innovative team that is making a real impact. TELUS Digital AI Community: Our global AI Community is a network of over 1 million contributors from diverse backgrounds who help collect, enhance, train, translate, and localize content to build better AI models. Become part of this growing community and contribute to improving machine learning models for some of the world\u2019s largest brands. Assessment: To be hired for the program, you will need to complete an open-book qualification exam to assess your suitability for the role, along with ID verification. Our team will provide guidelines and learning materials before the exam. You will be required to complete the exam within a specified timeframe, at your convenience. Equal Opportunity: All qualified applicants will receive consideration for a contractual role without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, disability, or protected veteran status. TELUS Digital AI is committed to providing equal opportunities and fostering a diverse and inclusive community. All selection decisions are based on qualifications, merit, competence, and performance, without regard to any diversity-related characteristics. \n\nData Analytics\n\n3 weeks ago\n\nInternational\n\nFresher Job\n\nPart time\n\n## [WFH Online Data Analyst Marathi Language](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 41: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\nNo experience required\n\n Are you a detail-oriented individual with a passion for research and a good understanding of national and local geography? This freelance opportunity allows you to work at your own pace from the comfort of your home. A Day in the Life of an Online Data Analyst: In this role, you will be working on a project aimed at enhancing the content and quality of digital maps used by millions of people worldwide. Key Responsibilities: 1. Complete research and evaluation tasks in a web-based environment 2. Verify and compare data for accuracy 3. Determine the relevance and reliability of information Assessment: To be hired for the program, you will need to complete an open-book qualification exam to assess your suitability for the role, along with ID verification. Our team will provide guidelines and learning materials before the exam. You will be required to complete the exam within a specified timeframe, at your convenience. \n\nData Analytics\n\n3 weeks ago\n\nInternational\n\nFresher Job\n\nPart time\n\n## [WFH Online Data Analyst Gujarati Language](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 42: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\nNo experience required\n\n A Day in the Life of an Online Data Analyst: In this role, you will work on a project focused on enhancing the content and quality of digital maps used by millions of people worldwide. Key Responsibilities: 1. Conducting research and completing evaluation tasks in a web-based environment 2. Verifying and comparing data for accuracy and consistency 3. Assessing the relevance and reliability of information \n\nData Analysis\n\n3 weeks ago\n\nInternational\n\nFresher Job\n\nPart time\n\n## [Online Data Analyst - Telugu Speakers](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 43: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\nNo experience required\n\n Are you a detail-oriented individual with a passion for research and a good understanding of national and local geography? This opportunity allows you to work at your own pace and from the comfort of your own home. Key Responsibilities: 1. Working on a project aimed at enhancing the content and quality of digital maps that are used by millions of people worldwide. 2. Completing research and evaluation tasks in a web-based environment such as verifying and comparing data, and determining the relevance and accuracy of information.  Join us today and be part of a dynamic and innovative team that is making a difference in the world! TELUS Digital AI Community: Our global AI Community is a vibrant network of 1 million+ contributors from diverse backgrounds who help our customers collect, enhance, train, translate, and localize content to build better AI models. Become part of our growing community and make an impact supporting the machine learning models of some of the world\u2019s largest brands. Qualification path:  No previous professional experience is required to apply to this role, however, working on this project will require you to pass the basic requirements and go through a standard assessment process. This is a part-time long-term project and your work will be subject to our standard quality assurance checks during the term of this agreement. Assessment: In order to be hired into the program, you\u2019ll take an open book qualification exam that will determine your suitability for the position and complete ID verification. Our team will provide you with guidelines and learning materials before your qualification exam. You will be required to complete the exam in a specific timeframe but at your convenience.\n\nEnglish Proficiency (Spoken)\n\nEnglish Proficiency (Written)\n\nTelugu Proficiency (Written)\n\nTelugu Proficiency (Spoken)\n\nArtificial intelligence\n\nData Analysis\n\n3 weeks ago\n\nInternational\n\nFresher Job\n\nPart time\n\n## [Malayalam Speaker Online Data Analyst](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 44: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\n1 year(s)\n\n Are you a detail-oriented individual with a passion for research and a good understanding of national and local geography? This opportunity allows you to work at your own pace and from the comfort of your own home. Key Responsibilities: 1. Working on a project aimed at enhancing the content and quality of digital maps that are used by millions of people worldwide 2. Completing research and evaluation tasks in a web-based environment, such as verifying and comparing data, and determining the relevance and accuracy of information Join us today and be part of a dynamic and innovative team that is making a difference in the world! TELUS Digital AI Community: Our global AI Community is a vibrant network of 1 million+ contributors from diverse backgrounds who help our customers collect, enhance, train, translate, and localize content to build better AI models. Become part of our growing community and make an impact by supporting the machine learning models of some of the world's largest brands. Qualification path: No previous professional experience is required to apply to this role; however, working on this project will require you to pass the basic requirements and go through a standard assessment process. This is a part-time long-term project, and your work will be subject to our standard quality assurance checks during the term of this agreement. Assessment: To be hired into the program, you'll take an open-book qualification exam that will determine your suitability for the position and complete ID verification. Our team will provide you with guidelines and learning materials before your qualification exam. You will be required to complete the exam in a specific timeframe, but at your convenience. \n\nData Analytics\n\nData Analysis\n\n3 weeks ago\n\nInternational\n\nPart time\n\n## [Marathi Speaker Online Data Analyst](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 45: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\n1 year(s)\n\n Are you a detail-oriented individual with a passion for research and a good understanding of national and local geography? This opportunity allows you to work at your own pace and from the comfort of your own home. Key Responsibilities: 1. Working on a project aimed at enhancing the content and quality of digital maps that are used by millions of people worldwide 2. Completing research and evaluation tasks in a web-based environment, such as verifying and comparing data, and determining the relevance and accuracy of information Join us today and be part of a dynamic and innovative team that is making a difference in the world! TELUS Digital AI Community: Our global AI Community is a vibrant network of 1 million+ contributors from diverse backgrounds who help our customers collect, enhance, train, translate, and localize content to build better AI models. Become part of our growing community and make an impact by supporting the machine learning models of some of the world's largest brands. Qualification path: No previous professional experience is required to apply to this role; however, working on this project will require you to pass the basic requirements and go through a standard assessment process. This is a part-time long-term project, and your work will be subject to our standard quality assurance checks during the term of this agreement. Assessment: To be hired into the program, you'll take an open-book qualification exam that will determine your suitability for the position and complete ID verification. Our team will provide you with guidelines and learning materials before your qualification exam. You will be required to complete the exam in a specific timeframe, but at your convenience. \n\nData Analytics\n\nData Analysis\n\n3 weeks ago\n\nInternational\n\nPart time\n\n## [Gujarati Speaker Online Data Analyst](https://internshala.com/job/detail/REDACTED_ID)\n\nTELUS International AI Inc. (Las Vegas, United States)\n\nActively hiring\n\n![Image 46: TELUS International AI Inc. (Las Vegas, United States)](https://internshala-uploads.internshala.com/logo%2Fc42amiocwvz-9104.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,50,000 - 4,60,000  \u20b9 4,50,000 - 4,60,000 /year \n\n1 year(s)\n\n Are you a detail-oriented individual with a passion for research and a good understanding of national and local geography? This opportunity allows you to work at your own pace and from the comfort of your own home. Key Responsibilities: 1. Working on a project aimed at enhancing the content and quality of digital maps that are used by millions of people worldwide 2. Completing research and evaluation tasks in a web-based environment, such as verifying and comparing data, and determining the relevance and accuracy of information Join us today and be part of a dynamic and innovative team that is making a difference in the world! TELUS Digital AI Community: Our global AI Community is a vibrant network of 1 million+ contributors from diverse backgrounds who help our customers collect, enhance, train, translate, and localize content to build better AI models. Become part of our growing community and make an impact by supporting the machine learning models of some of the world's largest brands. Qualification Path: No prior professional experience is required to apply for this role; however, working on this project will require you to meet the basic requirements and complete a standard assessment process. This is a part-time long-term project, and your work will be subject to our standard quality assurance checks during the term of this agreement. Assessment: To be hired into the program, you'll take an open-book qualification exam that will determine your suitability for the position and complete ID verification. Our team will provide you with guidelines and learning materials before your qualification exam. You will be required to complete the exam in a specific timeframe, but at your convenience. \n\nData Analytics\n\nData Analysis\n\n3 weeks ago\n\nInternational\n\nPart time\n\n## [Corporate Sales Executive](https://internshala.com/job/detail/REDACTED_ID)\n\nKFS Fintech\n\n![Image 47: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Thane](https://internshala.com/jobs/REDACTED_ID/), [Mumbai](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,00,000 - 8,00,000  \u20b9 4,00,000 - 8,00,000 /year \n\nNo experience required\n\n Key responsibilities: * Connect with business owners and company financial decision-makers * Understand client funding requirements * Explain funding solutions through banking channels * Fix meetings with senior management \n\nEffective Communication\n\n5 days ago\n\nFresher Job\n\n## [Junior Market Research Associate](https://internshala.com/job/detail/REDACTED_ID)\n\nMynd Solutions Private Limited\n\n![Image 48: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Chandigarh](https://internshala.com/jobs/REDACTED_ID/), [Chennai](https://internshala.com/jobs/REDACTED_ID/), [Mumbai](https://internshala.com/jobs/REDACTED_ID/), [Bangalore](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,00,000 - 7,00,000  \u20b9 4,00,000 - 7,00,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Conduct market research 2. Perform customer surveys 3. Analyze data and insights 4. Track competitors and industry trends 5. Engage with customers for feedback 6. Prepare research reports to support business decisions Note: 1. Shift: 9 AM \u2013 6 PM (General Shift) 2. Work mode: Fully on-site with field visits 3. Working days: Monday\u2013Friday (Saturday if required) 4. Contract: 6 months (extendable up to 18 months), no bond 5. Interview process: Virtual + face-to-face 6. Reimbursement: Provided for customer visits 7. CTC: 25000/month 8. \n\nMS-Excel\n\nEnglish Proficiency (Spoken)\n\nResearch and Analytics\n\nMarket research\n\n3 weeks ago\n\nFresher Job\n\n## [Relationship Manager](https://internshala.com/job/detail/REDACTED_ID)\n\nModies Staller Readymade Garment Showroom\n\n![Image 49: Modies Staller Readymade Garment Showroom](https://internshala-uploads.internshala.com/logo%2F3v6yitnuv80-11989.jpg.webp)\n\n[Ludhiana](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,00,000 - 6,50,000  \u20b9 4,00,000 - 6,50,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Collect and analyze daily customer feedback to gather actionable insights 2. Maintain an effective customer feedback loop to improve service quality 3. Log customer complaints in CRM systems accurately and consistently 4. Categorize issues based on type, urgency, and impact 5. Escalate critical concerns to senior management in a timely manner 6. Follow standard operating procedures for routing escalations through the leadership team 7. Ensure prompt resolution of customer concerns and maintain strong client relationships \n\nComputer skills\n\nToday\n\n![Image 50: early applicant icon](https://internshala.com/static/images/icons/bolt_icon_color.svg)Be an early applicant\n\nFresher Job\n\n## [Junior Software Developer](https://internshala.com/job/detail/REDACTED_ID)\n\nTreadstone Labs\n\nActively hiring\n\n![Image 51: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Bangalore](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 4,00,000 - 4,30,000  \u20b9 4,00,000 - 4,30,000 /year \n\nNo experience required\n\n Key Responsibilities: 1)Assist in developing and maintaining web applications using JavaScript, HTML, and Node.js . 2)Websockets experience would be a plus . 3)Contribute to the development of desktop applications using Electron 4)Write and maintain Python scripts for various backend and automation tasks 5)Collaborate with senior developers to design and implement new features 6)Participate in code reviews, testing, and debugging processes 7)Document development processes, code changes, and project updates Work closely with the team to ensure the successful delivery of projects \n\nMySQL\n\nHTML\n\nJavaScript\n\nPython\n\nAlgorithms\n\nNode.js\n\nC++ Programming\n\n1 week ago\n\nFresher Job\n\n## [Business Development Executive](https://internshala.com/job/detail/REDACTED_ID)\n\nIris Services Company\n\nActively hiring\n\n![Image 52: Iris Services Company](https://internshala-uploads.internshala.com/logo%REDACTED_ID.jpeg)\n\n[Delhi](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,85,000 - 9,60,000  \u20b9 3,85,000 - 9,60,000 /year \n\nNo experience required\n\n 1. Researching state government aviation setups (what aircraft they have, who runs the department, what arrangements exist today) 2. Writing formal letters and concept notes to Principal Secretaries requesting meetings and fixing them. 3. Travelling to state capitals (Dehradun, Patna, Chandigarh, Hyderabad, and others) for meetings 4. Delivering presentations to senior bureaucrats who are brilliant administrators but know nothing about aviation 5. Following up patiently through formal government channels 6. Maintaining a structured CRM and providing weekly reports to the founder 7. Navigating complex stakeholder environments (gatekeepers, technical staff, incumbent vendors) \n\nEmail Marketing\n\nMS-Excel\n\nSales Management\n\nEnglish Proficiency (Spoken)\n\nEnglish Proficiency (Written)\n\nSales\n\nSales Strategy\n\n4 days ago\n\nFresher Job\n\n## [Field Sales Associate](https://internshala.com/job/detail/REDACTED_ID)\n\nHighspring\n\nActively hiring\n\n![Image 53: Highspring](https://internshala-uploads.internshala.com/logo%2Fj822ujixbmu-25043.jpg.webp)\n\n[Ahmedabad](https://internshala.com/jobs/REDACTED_ID/), [Chandigarh](https://internshala.com/jobs/REDACTED_ID/), [Dehradun](https://internshala.com/jobs/REDACTED_ID/), [Delhi](https://internshala.com/jobs/REDACTED_ID/), [Gurgaon](https://internshala.com/jobs/REDACTED_ID/), [Indore](https://internshala.com/jobs/REDACTED_ID/), [Kolkata](https://internshala.com/jobs/REDACTED_ID/), [Patna](https://internshala.com/jobs/REDACTED_ID/), [Pune](https://internshala.com/jobs/REDACTED_ID/), [Hyderabad](https://internshala.com/jobs/REDACTED_ID/), [Vadodara](https://internshala.com/jobs/REDACTED_ID/), [Mumbai](https://internshala.com/jobs/REDACTED_ID/), [Jaipur](https://internshala.com/jobs/REDACTED_ID/), [Noida](https://internshala.com/jobs/REDACTED_ID/), [Bangalore](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,75,000 - 7,00,000  \u20b9 3,75,000 - 7,00,000 /year \n\n1 year(s)\n\n Key responsibilities: 1. Selling subscriptions to the merchants 2. Working on consultative selling 3. Giving presentations to merchants and converting leads into closure \n\nTeam Management\n\nE-commerce\n\nBanking\n\nConsulting\n\nField Work\n\nField Sales\n\nDigital Marketing Tools\n\n2 weeks ago\n\n## [Video Editor](https://internshala.com/job/detail/REDACTED_ID)\n\nSunlike Study\n\nActively hiring\n\n![Image 54: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Delhi](https://internshala.com/jobs/REDACTED_ID/), [South](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,60,000 - 6,00,000  \u20b9 3,60,000 - 6,00,000 /year \n\n1 year(s)\n\n Key responsibilities: 1. Voice over and script will be provided; your job is to bring it visually alive. 2. Style inspiration: Sunlike study YouTube channel - a clear narrative, smooth transitions, dynamic typography, visual maps, relevant images, and animated elements to explain concepts. Requirement: 1. Proficiency in Adobe After Effects, Premiere Pro,or similar software. 2. A good sense of visual storytelling. 3. Experience of 1 Year. \n\nVideo Editing\n\nAdobe Premiere Pro\n\nAdobe After Effects\n\nMotion Graphics\n\n2 weeks ago\n\n## [Sales Specialist, Rajkot (Industrial Sales)](https://internshala.com/job/detail/REDACTED_ID)\n\nSignify Innovations India Limited (Formerly Philips Lighting)\n\n![Image 55: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Rajkot](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,50,000 - 13,00,000  \u20b9 3,50,000 - 13,00,000 /year \n\n1 year(s)\n\n Key Responsibilities: 1. Responsible for driving sales execution and achieving business targets 2. Managing customer relationships and ensuring strong market presence 3. Handling project and distribution sales within the assigned territory 4. Opportunity to work closely with cross-functional teams and key accounts We are looking for candidates who are agile, result-oriented, and keen to build a career in a fast-paced sales environment. The role offers competitive compensation aligned with industry standards and strong growth opportunities within the organization. \n\nB2B Sales\n\nSales\n\nKey Account Management\n\nChannel Management\n\n3 weeks ago\n\n## [Insurance Advisor](https://internshala.com/job/detail/REDACTED_ID)\n\nLife Insurance Corporation Of India\n\n![Image 56: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,50,000 - 10,00,000  \u20b9 3,50,000 - 10,00,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Develop and implement effective marketing strategies to promote LIC's life insurance products. 2. Identify and target potential customers through various marketing channels. 3. Conduct thorough financial assessments for clients to determine their insurance needs. 4. Provide personalized recommendations and solutions to clients based on their individual requirements. 5. Build and maintain strong relationships with clients to ensure long-term satisfaction and retention. 6. Stay up-to-date on industry trends and regulations to provide accurate and relevant information to clients. 7. Collaborate with team members to achieve sales targets and contribute to the overall success of the company. \n\nMarketing\n\n2 weeks ago\n\nFresher Job\n\nPart time\n\n## [Customer Acquisition Executive](https://internshala.com/job/detail/REDACTED_ID)\n\nSRIVIN HOLIDAY RESORT\n\n![Image 57: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Chennai](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,50,000 - 7,80,000  \u20b9 3,50,000 - 7,80,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Make outbound calls to prospective customers 2. Explain company products/services clearly 3. Generate leads and fix appointments 4. Follow up with interested clients \n\nMarketing Strategy\n\nSales Support\n\nTamil Proficiency (Spoken)\n\nEffective Communication\n\n2 days ago\n\nFresher Job\n\n## [Content Moderator \u2013 Spanish (Read & Write)](https://internshala.com/job/detail/REDACTED_ID)\n\nHighspring\n\nActively hiring\n\n![Image 58: Highspring](https://internshala-uploads.internshala.com/logo%2Fj822ujixbmu-25043.jpg.webp)\n\n[Gurgaon](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,50,000 - 6,00,000  \u20b9 3,50,000 - 6,00,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Review and moderate eCommerce catalog listings to ensure accuracy and quality standards. 2. Ensure product listings comply with platform guidelines, safety standards, and marketplace policies. 3. Conduct catalog research, content curation, and data enrichment activities for improved listing quality. 4. Identify duplicate, inaccurate, or suspicious product listings and take appropriate action. 5. Collaborate with cross-functional teams to maintain platform trust, catalog integrity, and overall customer experience. \n\nSpanish Proficiency(Written)\n\nSpanish Proficiency(Spoken)\n\n1 day ago\n\nFresher Job\n\n## [Sales Executive](https://internshala.com/job/detail/REDACTED_ID)\n\nButterfly Learnings\n\n![Image 59: Butterfly Learnings](https://internshala-uploads.internshala.com/logo%2Fguwc10w9zq6-7784.jpeg)\n\n[Thane](https://internshala.com/jobs/REDACTED_ID/), [Mumbai](https://internshala.com/jobs/REDACTED_ID/), [Navi Mumbai](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,50,000 - 5,50,000  \u20b9 3,50,000 - 5,50,000 /year \n\nNo experience required\n\n Key responsibilities: 1. Calling parents & providing all the information about our services. 2. Admission bookings. 3. Resolving admission related queries. \n\nDigital Marketing\n\nSales Management\n\nEnglish Proficiency (Spoken)\n\n2 weeks ago\n\nFresher Job\n\n## [Junior Talent Acquisition Associate](https://internshala.com/job/detail/REDACTED_ID)\n\nDCPL Private Limited\n\n![Image 60: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Kolkata](https://internshala.com/jobs/REDACTED_ID/) (Hybrid)\n\n \u20b9 3,40,000 - 5,40,000  \u20b9 3,40,000 - 5,40,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Review job descriptions and understand hiring requirements. 2. Source suitable resumes from job portals and recruitment databases. 3. Communicate with candidates and relevant stakeholders throughout the hiring process. 4. Assess candidates based on visa status, location, qualifications, experience, rates, and behavioral fit. 5. Collect and organize resumes, IDs, certifications, and required documents in the prescribed format. 6. Submit qualified candidates to account managers for further evaluation. 7. Maintain and track candidate information and recruitment updates accurately. 8. Coordinate and schedule meetings and interviews with account managers. 9. Conduct initial shortlisting and screening discussions with potential candidates. 10. Support interview coordination, rate confirmation, and negotiation processes. \n\nMS-Office\n\nEnglish Proficiency (Spoken)\n\n6 days ago\n\nFresher Job\n\n## [Business Development Manager](https://internshala.com/job/detail/REDACTED_ID)\n\nCapitalist Yard\n\n![Image 61: Capitalist Yard](https://internshala-uploads.internshala.com/logo%REDACTED_ID.png.webp)\n\n[Bangalore](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,05,000 - 6,20,000  \u20b9 3,05,000 - 6,20,000 /year \n\nNo experience required\n\n Key responsibilities: 1. Handle inbound and outbound customer calls professionally 2. Qualify leads and understand customer requirements 3. Coordinate and schedule site visits for prospective clients 4. Maintain regular follow-ups with leads and prospects 5. Share project details, pricing, offers, and availability with customers 6. Maintain and update CRM records accurately \n\nMS-Excel\n\nB2B Sales\n\nKannada Proficiency (Spoken)\n\nInterpersonal skills\n\nEffective Communication\n\n4 days ago\n\nFresher Job\n\n## [Graphic Designer](https://internshala.com/job/detail/REDACTED_ID)\n\nKalyani Motors\n\n![Image 62: Kalyani Motors](https://internshala-uploads.internshala.com/logo%REDACTED_ID.jpg.webp)\n\n[Bangalore](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,01,500 - 3,62,000  \u20b9 3,01,500 - 3,62,000 /year \n\nNo experience required\n\n As a Graphic Designer at Kalyani Motors, you will have the opportunity to showcase your creativity and technical skills in designing compelling visual content for our brand. With expertise in Adobe After Effects, Adobe Premiere Pro, Adobe Illustrator, and Shopify, you will play a key role in enhancing our marketing efforts and engaging our target audience. Key Responsibilities: 1. Create visually stunning graphics and animations for our digital marketing campaigns. 2. Develop eye-catching videos and promotional materials for social media platforms. 3. Collaborate with the marketing team to design website banners and landing pages. 4. Maintain brand consistency across all visual assets and communications. 5. Assist in the creation of print materials such as brochures, flyers, and signage. 6. Stay updated on industry trends and best practices to continuously improve design quality. 7. Help optimize the user experience on our Shopify website through intuitive and appealing design elements. If you are a talented and motivated graphic designer looking to make a significant impact in the automotive industry, we encourage you to apply and join our dynamic team at Kalyani Motors. \n\nAdobe Illustrator\n\nAdobe Premiere Pro\n\nAdobe After Effects\n\nShopify\n\n3 weeks ago\n\nFresher Job\n\n## [Field Sales Executive](https://internshala.com/job/detail/REDACTED_ID)\n\nVARDAMAN SANITARY\n\n![Image 63: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Pune](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,00,500 - 4,30,000  \u20b9 3,00,500 - 4,30,000 /year \n\n1 year(s)\n\n Are you a dynamic and results-driven individual with a passion for sales? Do you possess excellent communication skills and fluency in English, Hindi, and Marathi? If so, VARDAMAN SANITARY is looking for you to join our team as a Field Sales Executive! Key Responsibilities: 1. Develop and maintain relationships with potential and existing clients to drive sales and meet targets. 2. Identify new business opportunities and generate leads through networking and cold calling. 3. Conduct product demonstrations and presentations to educate customers on our sanitary products. 4. Negotiate contracts and close deals to secure new business partnerships. 5. Provide exceptional customer service by addressing client inquiries and resolving any issues in a timely manner. 6. Collaborate with the marketing team to develop strategies for product promotion and brand awareness. 7. Stay up-to-date on industry trends and competitor activities to remain competitive in the market. If you are a self-motivated individual with a proven track record in sales and a passion for exceeding targets, we want to hear from you! Join us at VARDAMAN SANITARY and take your career to the next level. Apply now! \n\nEnglish Proficiency (Spoken)\n\nHindi Proficiency (Spoken)\n\nMarathi Proficiency(Spoken)\n\nSales\n\nEffective Communication\n\n2 weeks ago\n\n![Image 64: early applicant icon](https://internshala.com/static/images/icons/bolt_icon_color.svg)Be an early applicant\n\n## [Customer Service Associate](https://internshala.com/job/detail/REDACTED_ID)\n\nHighspring\n\nActively hiring\n\n![Image 65: Highspring](https://internshala-uploads.internshala.com/logo%2Fj822ujixbmu-25043.jpg.webp)\n\n[Noida](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,00,000 - 7,00,000  \u20b9 3,00,000 - 7,00,000 /year \n\nNo experience required\n\n As a Customer Service Associate at Highspring, you will have the opportunity to showcase your exceptional skills in MS-Office and Kannada proficiency while delivering top-notch service to our valued customers. Join our dynamic team and become a key player in providing an exceptional customer experience. Key Responsibilities: 1. Interact with customers via phone, email, and chat to provide prompt and accurate information on products and services. 2. Utilize your MS-Office skills to efficiently manage customer inquiries and resolve issues in a timely manner. 3. Demonstrate fluency in spoken Kannada to effectively communicate with customers in their preferred language. 4. Collaborate with team members to ensure seamless customer service delivery and exceed performance targets. 5. Maintain detailed records of customer interactions and transactions to track issues and improve service quality. 6. Assist in resolving customer complaints and escalations by following company policies and procedures. 7. Continuously seek opportunities to enhance customer satisfaction and loyalty through proactive problem-solving and personalized service. If you are a motivated individual with a passion for customer service and possess the required skills, we invite you to apply for this exciting opportunity at Highspring. Join us in making a difference in the lives of our customers every day! \n\nMS-Office\n\nKannada Proficiency (Spoken)\n\n1 week ago\n\nFresher Job\n\n## [Corporate Sales Executive](https://internshala.com/job/detail/REDACTED_ID)\n\nI2 Finserv\n\n![Image 66: I2 Finserv](https://internshala.com/static/images/search/placeholder_logo.svg)\n\n[Faridabad](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,00,000 - 6,00,000  \u20b9 3,00,000 - 6,00,000 /year \n\n1 year(s)\n\n We are looking for a dynamic individual who possesses a strong understanding of marketing and building strong client relationships. Key Responsibilities: 1. Implement sales strategies to drive business growth and achieve revenue targets. 2. Present sales proposals to potential clients, showcasing the unique value proposition of I2 Finserv\u2019s products and services. If you are a motivated and results-driven individual with a passion for sales and marketing in the financial services industry, we want to hear from you! Join our team at I2 Finserv and take your career to the next level. \n\nSales\n\nMarketing\n\nFinancial Services\n\n1 week ago\n\n## [Lead Generation Associate](https://internshala.com/job/detail/REDACTED_ID)\n\nCivayo India\n\n![Image 67: Civayo India](https://internshala-uploads.internshala.com/logo%2Fddlknlgwh8m-20617.jpg.webp)\n\n[Work from home](https://internshala.com/jobs/REDACTED_ID/)\n\n \u20b9 3,00,000 - 6,00,000  \u20b9 3,00,000 - 6,00,000 /year \n\nNo experience required\n\n Key Responsibilities: 1. Initiate outbound calls to prospective clients, introduce and promote products/services. 2. Generate leads and follow up with potential customers to convert interest into sales or scheduled appointments for the core sales team. 3. Effectively communicate product features, benefits, and pricing, and tailor sales pitches based on customer feedback and needs. 4. Address customer inquiries, concerns, and complaints promptly and professionally, ensuring a positive customer experience. 5. Maintain accurate and detailed records of all calls, customer interactions, and sales activities in a CRM system or provided spreadsheet (e.g., MS Excel). 6. Meet or exceed agreed-upon daily, weekly, or monthly call and conversion targets. 7. Stay updated on product knowledge, industry trends, and sales techniques to provide informed recommendations. \n\nMS-Excel\n\n1 week ago\n\nFresher Job\n\nPart time\n\n[Previous](https://internshala.com/jobs/REDACTED_ID/)\n\n1[1](https://internshala.com/jobs/)[2](https://internshala.com/jobs/page-2/)[3](https://internshala.com/jobs/page-3/)[4](https://internshala.com/jobs/page-4/)[5](https://internshala.com/jobs/page-5/)[6](https://internshala.com/jobs/page-6/)[...](https://internshala.com/jobs/REDACTED_ID/)[324](https://internshala.com/jobs/page-324/)\n\n[Next](https://internshala.com/jobs/page-2/)\n\n[Prev](https://internshala.com/jobs/REDACTED_ID/)\n\n1[1](https://internshala.com/jobs/)[2](https://internshala.com/jobs/page-2/)[3](https://internshala.com/jobs/page-3/)[4](https://internshala.com/jobs/page-4/)[...](https://internshala.com/jobs/REDACTED_ID/)[324](https://internshala.com/jobs/page-324/)\n\n[Next](https://internshala.com/jobs/page-2/)\n\nApply to 12940 Jobs on Internshala.com\n\nJobs by Profile\n\nJobs by Profile\n\n[Marketing Jobs](https://internshala.com/jobs/marketing-jobs/)\n\n[Content Writing Jobs](https://internshala.com/jobs/REDACTED_ID/)\n\n[Computer Science Jobs](https://internshala.com/jobs/REDACTED_ID/)\n\n[Digital Marketing Jobs](https://internshala.com/jobs/REDACTED_ID/)\n\n[Data Science Jobs](https://internshala.com/jobs/data-science-jobs/)\n\n[HR Jobs](https://internshala.com/jobs/hr-jobs/)\n\n[Finance Jobs](https://internshala.com/jobs/finance-jobs/)\n\n[Telecalling Jobs](https://internshala.com/jobs/telecalling-jobs/)\n\n[Sales Jobs](https://internshala.com/jobs/sales-jobs/)\n\n[Graphic Design Jobs](https://internshala.com/jobs/graphic-design-jobs/)\n\n[Web Development Jobs](https://internshala.com/jobs/REDACTED_ID/)\n\n[Customer Service Jobs](https://internshala.com/jobs/REDACTED_ID/)\n\n+7 more\n\nJobs by Location\n\nJobs by Location\n\n[Jobs in Delhi](https://internshala.com/jobs/jobs-in-delhi/)\n\n[Jobs in Mumbai](https://internshala.com/jobs/jobs-in-mumbai/)\n\n[Jobs in Bangalore](https://internshala.com/jobs/jobs-in-bangalore/)\n\n[Jobs in Hyderabad](https://internshala.com/jobs/jobs-in-hyderabad/)\n\n[Jobs in Kolkata](https://internshala.com/jobs/jobs-in-kolkata/)\n\n[Jobs in Chennai](https://internshala.com/jobs/jobs-in-chennai/)\n\n[Jobs in Ahmedabad](https://internshala.com/jobs/jobs-in-ahmedabad/)\n\n[Jobs in Chandigarh](https://internshala.com/jobs/jobs-in-chandigarh/)\n\n[Jobs in Pune](https://internshala.com/jobs/jobs-in-pune/)\n\n[Jobs in Jaipur](https://internshala.com/jobs/jobs-in-jaipur/)\n\n[Jobs in Gurgaon](https://internshala.com/jobs/jobs-in-gurgaon/)\n\n[Jobs in Faridabad](https://internshala.com/jobs/jobs-in-faridabad/)\n\n+7 more\n\nWork From Home Jobs by Profile\n\nWork From Home Jobs by Profile\n\n[Work From Home Marketing Jobs](https://internshala.com/jobs/marketing-jobs/work-from-home/)\n\n[Work From Home Content Writing Jobs](https://internshala.com/jobs/REDACTED_ID/work-from-home/)\n\n[Work From Home Computer Science Jobs](https://internshala.com/jobs/REDACTED_ID/work-from-home/)\n\n[Work From Home Digital Marketing Jobs](https://internshala.com/jobs/REDACTED_ID/work-from-home/)\n\n[Work From Home Data Science Jobs](https://internshala.com/jobs/data-science-jobs/work-from-home/)\n\n[Work From Home HR Jobs](https://internshala.com/jobs/hr-jobs/work-from-home/)\n\n[Work From Home Finance Jobs](https://internshala.com/jobs/finance-jobs/work-from-home/)\n\n[Work From Home Telecalling Jobs](https://internshala.com/jobs/telecalling-jobs/work-from-home/)\n\n[Work From Home Sales Jobs](https://internshala.com/jobs/sales-jobs/work-from-home/)\n\n[Work From Home Graphic Design Jobs](https://internshala.com/jobs/graphic-design-jobs/work-from-home/)\n\n[Work From Home Web Development Jobs](https://internshala.com/jobs/REDACTED_ID/work-from-home/)\n\n[Work From Home Customer Service Jobs](https://internshala.com/jobs/REDACTED_ID/work-from-home/)\n\n+7 more\n\nWork From Home Jobs by Location\n\nWork From Home Jobs by Location\n\n[Work From Home Jobs in Delhi](https://internshala.com/jobs/jobs-in-delhi/work-from-home/)\n\n[Work From Home Jobs in Mumbai](https://internshala.com/jobs/jobs-in-mumbai/work-from-home/)\n\n[Work From Home Jobs in Bangalore](https://internshala.com/jobs/jobs-in-bangalore/work-from-home/)\n\n[Work From Home Jobs in Hyderabad](https://internshala.com/jobs/jobs-in-hyderabad/work-from-home/)\n\n[Work From Home Jobs in Kolkata](https://internshala.com/jobs/jobs-in-kolkata/work-from-home/)\n\n[Work From Home Jobs in Chennai](https://internshala.com/jobs/jobs-in-chennai/work-from-home/)\n\n[Work From Home Jobs in Ahmedabad](https://internshala.com/jobs/jobs-in-ahmedabad/work-from-home/)\n\n[Work From Home Jobs in Chandigarh](https://internshala.com/jobs/jobs-in-chandigarh/work-from-home/)\n\n[Work From Home Jobs in Pune](https://internshala.com/jobs/jobs-in-pune/work-from-home/)\n\n[Work From Home Jobs in Jaipur](https://internshala.com/jobs/jobs-in-jaipur/work-from-home/)\n\n[Work From Home Jobs in Gurgaon](https://internshala.com/jobs/jobs-in-gurgaon/work-from-home/)\n\n[Work From Home Jobs in Faridabad](https://internshala.com/jobs/jobs-in-faridabad/work-from-home/)\n\n+7 more\n\nTop Companies\n\nTop Companies\n\n[Zucol Solutions Private Limited](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n[Mikromoon Creations](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n[SGT UNIVERSITY](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n[VIZON](https://internshala.com/company/vizon-1625847253/careers/?utm_source=backlink/)\n\n[Turtlemint](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n[Greater Than Educational Technologies](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n[MediBuddy](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n[Credent Financial Advisors](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n[Altrm](https://internshala.com/company/altrm-1779434602/careers/?utm_source=backlink/)\n\n[TELUS International AI Inc.](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n[KFS Fintech](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n[Mynd Solutions Private Limited](https://internshala.com/company/REDACTED_ID/careers/?utm_source=backlink/)\n\n+7 more\n\nLatest Jobs/ Internship\n\nLatest Jobs/ Internship\n\n[Internship](https://internshala.com/internships/)\n\n[Part Time Work From Home Fresher Jobs](https://internshala.com/fresher-jobs/REDACTED_ID/)\n\n[Part Time Fresher Jobs](https://internshala.com/fresher-jobs/part-time-jobs/)\n\n[Part Time Work From Home Jobs](https://internshala.com/jobs/REDACTED_ID/)\n\n[Work From Home Part Time Internship](https://internshala.com/internships/REDACTED_ID/part-time-true/)\n\n[Work From Home Fresher Jobs](https://internshala.com/fresher-jobs/work-from-home/)\n\n[Part Time Internship](https://internshala.com/internships/part-time-jobs/)\n\n[Part Time Jobs](https://internshala.com/jobs/part-time-jobs/)\n\n[Work From Home Internship](https://internshala.com/internships/REDACTED_ID/)\n\n[Work From Home Jobs](https://internshala.com/jobs/work-from-home/)\n\n[Fresher Jobs](https://internshala.com/fresher-jobs/)\n\n+6 more\n\nLatest Jobs/Internships for Women\n\nLatest Jobs/Internships for Women\n\n[Jobs for Women](https://internshala.com/jobs-for-women/)\n\n[Internships for Women](https://internshala.com/REDACTED_ID/)\n\n[Work From Home Jobs for Women](https://internshala.com/jobs-for-women/work-from-home/)\n\n[Work From Home Internships for Women](https://internshala.com/REDACTED_ID/REDACTED_ID/)\n\n[Part Time Jobs for Women](https://internshala.com/jobs-for-women/part-time-jobs/)\n\n[Part Time Internships for Women](https://internshala.com/REDACTED_ID/part-time-jobs/)\n\n[WFH Part Time Jobs for Women](https://internshala.com/jobs-for-women/REDACTED_ID/)\n\n+2 more\n\n[Home](https://internshala.com/)[Jobs](https://internshala.com/jobs/)\n\nFrequently asked questions\n\nQ. How can I get a high-paying job?\n\nIf you are looking for high-paying job opportunities, here's a step-by-step approach to help you find the best jobs.\n\n*   **Identify Your Strengths and Career Interests:** Assess your skills, interests, and strengths to determine which job roles and industries align with your career aspirations.\n*   **Pursue a Certificate Course:** Pursue a [job oriented course](https://trainings.internshala.com/REDACTED_ID/) to gain industry-based knowledge and land a promising job opportunity after course completion.\n*   **Utilize Job Portals:** Sign up on reputed job portals like Internshala to find job openings that match your qualifications and interests.\n*   **Craft a Strong Resume and Cover Letter:** Highlight relevant skills, achievements, and quantifiable results using strong action verbs in your [resume format](https://blog.internshala.com/resume-formats/). Also, craft a [cover letter](https://blog.internshala.com/REDACTED_ID/) that showcases your enthusiasm for the company and the role, addressing the requirements mentioned in the job description.\n*   **Prepare in Advance for the Interview:** Before your interview, do research about the company and the role. Practice your responses to the common interview questions related to the role you are applying for.\n\nQ. How to search for jobs in my preferred category/profile?\n\nIf you want to get a job as per your preference. You can update your preferences (profile or location) and use relevant filters to find jobs in your preferred profile/location.\n\nQ. What is the best way to find job opportunities?\n\nBy following appropriate job search methods and taking a proactive approach, you can boost your chances of finding relevant job openings. Here are some effective ways to find employment opportunities easily:\n\n*   Utilize established job boards like Internshala to find the latest jobs. You can filter your search based on your skills, experience, and desired salary.\n*   Research the websites of your target companies to discover job openings that might not be listed elsewhere.\n*   Attend industry conferences, job fairs, or professional meetups to connect with potential employers directly.\n*   Consider reaching out to your contacts and asking for referrals.\n\nQ. What skills are most in demand in today's job market?\n\nHere are the most in-demand skills based on industry:\n\n*   **Tech:** Skills in programming Languages (Python, Java, etc.), cloud computing, cybersecurity, data analysis, machine learning, and artificial intelligence.\n*   **Manufacturing:** Skills in automation & robotics, quality control, computer-aided design (CAD), mechatronics, and 3D printing.\n*   **Finance:** Expertise in financial modeling, accounting software, investment banking, and risk management.\n*   **Marketing & Advertising:** Expertise in digital marketing tools (SEO, SEM, social media), content marketing, Google Analytics, and graphic design.\n*   **Sales:** Expertise in customer relationship management (CRM) tools, product knowledge, along with business communication and problem-solving skills.\n*   **Business & Management:** Skills in project management, business process management, and data analysis.\n\nQ. What are the highest-paying jobs in India?\n\nWhether you are a fresher or a seasoned professional, there are many job opportunities in India offering high salaries. Here are some of the highest-paying employment opportunities in India.\n\n**Job Title****Salary Range**\n\nData Scientist\u20b9 19.2 LPA - \u20b9 21.8 LPA\n\nMachine Learning Engineer\u20b9 19.6 LPA - \u20b9 22 LPA\n\nChartered Accountant\u20b9 17.8 LPA - \u20b9 20 LPA\n\nProject Manager\u20b9 26.8 LPA - \u20b9 30 LPA\n\nManagement Consultant\u20b9 22.6 LPA - \u20b9 26 LPA\n\nBusiness Analyst \u20b9 14.9 LPA - \u20b9 16.6 LPA\n\nDevOps Engineer\u20b9 16.2 LPA - \u20b9 18 LPA\n\nQ. Which is the best job portal to find jobs?\n\nIf you are looking for job openings, Internshala is a great platform for job seekers. The website offers a user-friendly interface that makes searching for ideal vacancies effortless. More than 250,000 employers are looking for the best candidates on the Internshala platform, which makes finding the perfect job offer for you easier.\n\nTo apply for jobs through Internshala, follow these simple steps.\n\n*   **Step 1:** Visit the Internshala website and click on the \u2018Jobs\u2019 tab.\n*   **Step 2:** Go to the \u2018View Details\u2019 section to read the job description.\n*   **Step 3:** Click on \u2018Apply Now\u2019 if you want to apply for the job.\n*   **Step 4:** Complete the application process and hit the \u2018Submit\u2019 button.\n\nQ. Do I need to pay to apply for job on Internshala?\n\nAbsolutely not! Internshala is a free platform. You don't have to pay anything to apply for jobs on Internshala.\n\nQ. Are there any courses that offer placement? \n\n You can check out the following courses for placement -\n*   [Digital Marketing course with placement](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID/)\n*   [Data Science course with placement](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID/)\n*   [Full Stack Developer course with placement](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID/)\n*   [Product Management course with placement](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID/)\n*   [UI UX Design course with placement](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID/)\n*   [HR Course with placement](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID/)\n*   [Electric Vehicle course with placement](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID/)\n*   [Banking Sales course with placement](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID/)\n*   [Software Testing course with placement](https://trainings.internshala.com/REDACTED_ID/?utm_source=REDACTED_ID/)\n\nQ. How do I get certified online?\n\n Internshala offers a number of certified courses to improve your skill set. Check them out here - \n*   [Web Development Course](https://trainings.internshala.com/REDACTED_ID/)\n*   [Python Course](https://trainings.internshala.com/python-course/)\n*   [Ethical Hacking Course](https://trainings.internshala.com/hacking-course/)\n*   [Java Course](https://trainings.internshala.com/java-course/)\n*   [Digital Marketing Course](https://trainings.internshala.com/REDACTED_ID/)\n*   [Data Science Course](https://trainings.internshala.com/REDACTED_ID/)\n*   [Tally Course](https://trainings.internshala.com/tally-course/)\n*   [Machine Learning Course](https://trainings.internshala.com/REDACTED_ID/)\n*   [UI UX Design Course](https://trainings.internshala.com/ui-ux-design-course/)\n\n Discover \n\n 75K+ Latest Jobs \n\n for \n\n 250+ Profiles & Locations \n\n## Find the Latest Jobs (\u0928\u094c\u0915\u0930\u0940) in India\n\nEmployment helps to enhance our lifestyle. Finding employment enables an individual to lead the life they desire. However, getting the right opportunity may seem challenging. From looking for job vacancies to applying, to getting a call for an interview, and then finally clearing all job interview rounds, requires a great deal of preparation. This journey can be a highly rewarding experience when an individual successfully finds a job.\n\nIndia is booming with opportunities for individuals who are just starting out in their careers, as well as seasoned professionals and students. Each job vacancy presents a unique opportunity to work in a dynamic environment and enhance your skill set. You can explore perfect or new job opportunities that offer the flexibility to work from home, work part-time, or work full-time, based on your preference and comfort level.\n\n### Scope of Jobs in India\n\nAs per a recent study of PLFS, India\u2019s employment rate was 52.0% during the quarter April - June, 2025. Job seekers can expect to get a job in fast-growing fields like marketing, technology, and medicine. The top cities where you can search for a job vacancy in India are:\n\n*   Bangalore (IT and startups)\n*   Mumbai (Finance and commerce)\n*   Delhi NCR (Corporate and government)\n*   Hyderabad (IT and pharmaceuticals)\n*   Chennai (Automobile and manufacturing)\n*   Pune (IT and education)\n*   Gurgaon (Corporate and IT)\n*   Noida (IT and electronics)\n*   Kolkata (Commerce and services)\n*   Ahmedabad (Manufacturing and retail)\n\n### Top Companies Hiring in India\n\nIndia is one of the major economies of the world with consistent growth. Its substantial market potential, availability of workforce, government policies for investment, and numerous industrial zones have made it a hot spot for businesses looking to [hire interns](https://internshala.com/hire-talent/) and full-time employees. Some of these top companies are:\n\n*   **Business Consulting:** Accenture, KPMG, CGI, Publicis Sapient, McKinsey & Company, EXL Service\n*   **Information Technology Services:** TCS, Amazon, Capgemini, Cognizant Technology Solutions, IBM, HCLTech\n*   **Healthcare Services and Hospitals:**Optum, Philips, UnitedHealth Group, Cure.Fit, [Bajaj Finserv Health](https://internshala.com/company/REDACTED_ID/), Apollo Health and Lifestyle\n*   **Education Support and Training Services:** Internshala, Jaro Education, Embibe, Frankfinn Aviation Services\n*   **Finance and Banking:** J.P. Morgan, Bank of America, Barclays, [Bajaj Finance](https://internshala.com/company/REDACTED_ID/), American Express, Fidelity Investments, HDFC Bank, Mastercard\n\n### Find Jobs That Match Your Workstyle and Experience Level\n\nWhile conducting a job search, you can look for a job based on your work style, such as full-time, part-time, or work-from-home roles. Though a bachelor\u2019s degree is sufficient to apply for fresher roles, with a master's degree, professional certifications, or diplomas, you can find better job prospects. Here is a list of popular job openings that you can explore:\n\n*   **Work From Home Jobs****:**Many companies and organizations have started to offer WFH opportunities. With this option, a company can hire highly skilled candidates from across the globe or anywhere within the country. Stay-at-home parents and those with personal constraints who cannot work from the office can choose to work from home. Students who are yet to graduate from college and have the desire to work remotely to gain professional experience in their third or fourth year of graduation/post-graduation can apply for work from home jobs for freshers.\n*   **Part-Time Jobs:**With an online job search option, one can find part-time opportunities as well. These jobs are an excellent choice for those looking for an extra source of income while studying, learning new skills, or managing other personal responsibilities like childcare. You can look for part-time work-from-home roles if you have some time between other obligations. You can also apply for work-from-home part-time vacancies for freshers if you do not have prior experience and wish to master a skill in your specialization.\n*   **Fresher Jobs:**Several job roles for freshers are available online. It can be daunting to apply for your first job as a fresher, but remember that there are a lot of graduate job opportunities meant specifically for freshers. You can apply for a variety of job roles, be it full-time or part-time fresher roles, and you can also find great work-from-home options if you wish to work remotely. Further, you can start your career by applying for an internship in your field of interest. Internships offer a great opportunity to learn new skills freely and explore a wide range of graduate job profiles.\n*   **High Paying Jobs:** You can explore [high paying job opportunities in India](https://blog.internshala.com/REDACTED_ID/) as per your experience level. If you are an experienced professional with five or more years of experience in any field, you can find various jobs that offer a competitive salary and benefits.\n\n### Explore Job Roles in Popular Industries\n\nThere are numerous jobs available on the Internet, both in the public and private sectors. Each job requires specific skills and qualifications. So, if you are a job seeker, you should explore various job categories and identify the job that matches your qualifications. You can also find various job opportunities in India according to your preferred professional fields. Some of the popular job roles that you can explore include [data science jobs](https://internshala.com/jobs/data-science-jobs/), business intelligence analysts, investment bankers, [sales jobs](https://internshala.com/jobs/sales-jobs/), etc.\n\nYou can also research specific companies to find job vacancies in India that best fit your skills and experience. Further, you can attend networking events or join online groups to connect with potential employers. Some of the popular or best jobs that you can explore this way are:\n\n*   **Software Developer:** \u20b94 LPA - \u20b912 LPA\n*   **Digital Marketing Specialist:** \u20b93 LPA - \u20b98 LPA\n*   **Financial Analyst:** \u20b94 LPA - \u20b910 LPA\n*   **Sales Executive:** \u20b93 LPA - \u20b97 LPA\n*   **Data Analyst:** \u20b94 LPA - \u20b911 LPA\n*   **HR Recruiter:** \u20b93 LPA - \u20b97 LPA\n*   **Content Writer:** \u20b92.5 LPA - \u20b96 LPA\n*   **Business Development Manager:** \u20b95 LPA - \u20b915 LPA\n*   **Customer Support Executive:** \u20b92.5 LPA - \u20b95 LPA\n*   **Operations Manager:** \u20b96 LPA - \u20b914 LPA\n\n### How Can I Find a Job Opening Quickly?\n\nJob search can be a challenge, but with the right approach, strategy, and clarity, you can find the right job for yourself. Before you start looking for job openings in your field of interest, use these guidelines to conduct a fast job search:\n\n*   **Build Professional Resume:**Create a well-structured resume that highlights your skills, achievements, and experience. Since many companies use AI-powered screeners to shortlist resumes, make sure your resume is keyword-optimized and aligned with the job description. Tools like ATS-friendly resume builders can help ensure your profile isn\u2019t filtered out too early.\n*   **Cover Letter:**Adding a cover letter with your resume can be greatly helpful, as the employer can get to know you, your skills, and your experience better. You should also note that while some companies and organizations may ask for a cover letter, others may not.\n*   **Networking:**Word-of-mouth is a powerful medium to find a job. Try to network with people in your industry to find out about job opportunities. Also, personally, reach out to the recruiters.\n*   **Job Search Websites:** Online sites can help you expedite your job hunt process. Internshala is one of the best available platforms for job search online across various industries and categories.\n*   **Take Advantage of Free Job Alerts:**Most job websites allow you to create [free job alerts](https://internshala.com/free-job-alerts) based on your role, location, or industry preferences. Setting these up ensures you get notified about new job opportunities. This helps you apply faster and saves time in your job hunt.\n*   **Follow-up:**It is important to follow up with the employers or recruiters to get an job opportunity to appear for an interview. If you need help preparing for a job interview, check out this internship and job preparation course.\n*   **Prepare Interview Smartly:**Interview formats are evolving. Apart from traditional face-to-face rounds, you may face AI-led video interviews. Practice common questions, record yourself answering, and get comfortable with online formats.\n\n### How to Find & Apply for the Latest Job Vacancies on Internshala?\n\nCollege graduates and individuals with limited professional backgrounds who are looking for work opportunities can easily find promising job prospects through Internshala.\n\nThe platform offers a diverse range of job listings, including internships and entry-level positions, that cater to specific job requirements. With its user-friendly interface, Internshala stands out as an exceptional platform that helps job seekers find ideal job openings effortlessly.\n\n**To apply for any job vacancies on Internshala, follow these steps:**\n\n*   Visit the Internshala website and click on the \u2018Jobs\u2019 tab.\n*   Go to the \u2018View Details\u2019 section to get details about the company and the profile. Check the details thoroughly and apply if your profile matches the job role.\n*   After viewing the details, click on \u2018Apply Now\u2019 if you want to apply.\n*   If you are not registered on Internshala, register yourself and click on \u2018Apply Now\u2019.\n\nSee More\n\n![Image 68](https://internshala.com/static/images/review_section/quotation_mark.png)\n\nJoin the pool of 21Mn+ students and get started with your career\n\nPLAY STORE RATINGS\n\n4.4\n\n![Image 69](https://internshala.com/static/images/review_section/star_full.png)![Image 70](https://internshala.com/static/images/review_section/star_full.png)![Image 71](https://internshala.com/static/images/review_section/star_full.png)![Image 72](https://internshala.com/static/images/review_section/star_full.png)![Image 73](https://internshala.com/static/images/review_section/star_half.png)\n\n(42K Reviews)\n\n[![Image 74](https://internshala.com/static/images/review_section/SVG/playstore_icon.svg) Get it on Google Play ![Image 75](https://internshala.com/static/images/review_section/SVG/redirection_icon.svg)](https://internshala.com/jobs/REDACTED_ID/)\n\n Must-have app for students \n\n I got my first internship from here. Internshala is must for career oriented students. This app has a lot of opportunities for every kind of students. \n\n![Image 76](https://internshala.com/static/images/review_section/reviewers/yogesh.png)\n\nYogesh Singh\n\n I landed a job at Amazon \n\n I applied to Amazon and got the job! It was my dream. I wanted to get in tech but I was from electrical background. My friend suggested Data Science Placement Guarantee Course. In the course, I learnt SQL, Python, Tableau & worked on a lot of projects which came in handy in my interviews. I was able to explain the concepts and applications well. The placement team helped me with everything. \n\n![Image 77](https://internshala.com/static/images/review_section/reviewers/yaswanth.png)\n\nYaswanth Mandapati\n\n Placement guarantee works \n\n 100% guarantee de rahe the, mujhe 100% doubt tha ki placement hogi bhi ya nahi. Truth is I got a placement. I didn't have any idea of how to enter corporate, what kind of job would be a good fit for me and where to start. In the placement guarantee course, I learnt so much and even before I completed it, I got an internship. \n\n![Image 78](https://internshala.com/static/images/review_section/reviewers/pankaj.png)\n\nPankaj\n\n First choice for job search \n\n Internshala has helped me get into internships and i have got many calls from hirers through internshala. i would be using it frequently for my job search and would be my first prioritized job search app as it gave me more opportunities to explore. would be looking forward for more opportunities. \n\n![Image 79](https://internshala.com/static/images/review_section/reviewers/preethika.png)\n\nPreethika Anand\n\n Great platform for upskilling \n\n Internshala is really a great platform to learn skills and the team is really helpful. Whenever you drop your problems they just resolve within few hours. Really glad to complete this course with Internshala Trainings. \n\n![Image 80](https://internshala.com/static/images/review_section/reviewers/deepesh.png)\n\nDeepesh Rai\n\n Got an internship at Flipkart \n\n I was getting rejected in my campus placements was so disappointed. My professor recommended Internshala's data science placement guarantee course. I joined the course and learnt data science & machine learning. I also learnt how to crack interviews, make a resume, etc. Few months later, I secured an internship with Flipkart. It's my first job after graduation. The office is huge. I love it here. \n\n![Image 81](https://internshala.com/static/images/review_section/reviewers/tharun.png)\n\nTharun Kumar\n\n Good support and doubt solving \n\n If I put placement guarantee aside, the skills & knowledge I gained from this course are immense. What stood out for me was the quick resolution of my doubts and queries. Internshala gave me all the support I needed to restart my career - right from sharing placement opportunities to interview preparation. \n\n![Image 82](https://internshala.com/static/images/review_section/reviewers/kala.png)\n\nKala Chaithanya Velagapudi\n\n Got hired for 4 internships \n\n Internshala helped me to get me 4 internship in multiple Domains and I highly recommend Internshala for students who are looking for internships and jobs \n\n![Image 83](https://internshala.com/static/images/review_section/reviewers/anany.png)\n\nAnany Pratap Singh\n\nInternship by Places \n\n[Internship in Bangalore](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Internship in Delhi](https://internshala.com/internships/internship-in-delhi/?utm_source=is_footer)\n\n[Internships in Hyderabad](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Internship in Mumbai](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Internship in Chennai](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Internship in Pune](https://internshala.com/internships/internship-in-pune/?utm_source=is_footer)\n\n[Internship in Kolkata](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Internship in Gurgaon](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Work From Home Internships](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[View all internship](https://internshala.com/internships/?utm_source=is_footer)\n\nInternship by Stream \n\n[Computer Science Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Electronics Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Mechanical Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Civil Internship](https://internshala.com/internships/civil-internship/?utm_source=is_footer)\n\n[Marketing Internship](https://internshala.com/internships/REDACTED_ID/?utm_source=is_footer)\n\n[Chemical Internship](https://internshala.com/internships/chemical-internship/?utm_source=is_footer)\n\n[Finance Internship](https://internshala.com/internships/finance-internship/?utm_source=is_footer)\n\n[View all internship](https://internshala.com/internships/?utm_source=is_footer)\n\nJobs by Places \n\n[Jobs in Bangalore](https://internshala.com/jobs/jobs-in-bangalore/?utm_source=is_footer)\n\n[Jobs in Delhi](https://internshala.com/jobs/jobs-in-delhi/?utm_source=is_footer)\n\n[Jobs in Hyderabad](https://internshala.com/jobs/jobs-in-hyderabad/?utm_source=is_footer)\n\n[Jobs in Gurgaon](https://internshala.com/jobs/jobs-in-gurgaon/?utm_source=is_footer)\n\n[Jobs in Kolkata](https://internshala.com/jobs/jobs-in-kolkata/?utm_source=is_footer)\n\n[Jobs in Mumbai](https://internshala.com/jobs/jobs-in-mumbai/?utm_source=is_footer)\n\n[Jobs in Pune](https://internshala.com/jobs/jobs-in-pune/?utm_source=is_footer)\n\n[Jobs in Chennai](https://internshala.com/jobs/jobs-in-chennai/?utm_source=is_footer)\n\n[Jobs in Noida](https://internshala.com/jobs/jobs-in-noida/?utm_source=is_footer)\n\n[View all jobs](https://internshala.com/jobs/?utm_source=is_footer)\n\nJobs by Type \n\n[Data Entry jobs](https://internshala.com/jobs/data-entry-jobs/?utm_source=is_footer)\n\n[Content writing jobs](https://internshala.com/jobs/REDACTED_ID/?utm_source=is_footer)\n\n[Digital Marketing jobs](https://internshala.com/jobs/REDACTED_ID/?utm_source=is_footer)\n\n[Data Science jobs](https://internshala.com/jobs/data-science-jobs/?utm_source=is_footer)\n\n[Cyber Security jobs](https://internshala.com/jobs/cyber-security-jobs/?utm_source=is_footer)\n\n[Pharma jobs](https://internshala.com/jobs/pharmaceutical-jobs/?utm_source=is_footer)\n\n[Teaching jobs](https://internshala.com/jobs/teaching-jobs/?utm_source=is_footer)\n\n[HR jobs](https://internshala.com/jobs/hr-jobs/?utm_source=is_footer)\n\n[MBA jobs](https://internshala.com/jobs/mba-jobs/?utm_source=is_footer)\n\n[View all jobs](https://internshala.com/jobs/?utm_source=is_footer)\n\nFresher Jobs by Places \n\n[Fresher Jobs in Bangalore](https://internshala.com/fresher-jobs/jobs-in-bangalore/?utm_source=is_footer)\n\n[Fresher Jobs in Delhi](https://internshala.com/fresher-jobs/jobs-in-delhi/?utm_source=is_footer)\n\n[Fresher Jobs in Hyderabad](https://internshala.com/fresher-jobs/jobs-in-hyderabad/?utm_source=is_footer)\n\n[Fresher Jobs in Chennai](https://internshala.com/fresher-jobs/jobs-in-chennai/?utm_source=is_footer)\n\n[Fresher Jobs in Pune](https://internshala.com/fresher-jobs/jobs-in-pune/?utm_source=is_footer)\n\n[Fresher Jobs in Mumbai](https://internshala.com/fresher-jobs/jobs-in-mumbai/?utm_source=is_footer)\n\n[Fresher Jobs in Noida](https://internshala.com/fresher-jobs/jobs-in-noida/?utm_source=is_footer)\n\n[Fresher Jobs in Kolkata](https://internshala.com/fresher-jobs/jobs-in-kolkata/?utm_source=is_footer)\n\n[Fresher Jobs in Gurgaon](https://internshala.com/fresher-jobs/jobs-in-gurgaon/?utm_source=is_footer)\n\n[View all fresher jobs](https://internshala.com/fresher-jobs/?utm_source=is_footer)\n\nFresher Jobs by Type \n\n[MBA Fresher Job](https://internshala.com/fresher-jobs/mba-jobs/?utm_source=is_footer)\n\n[HR Fresher Job](https://internshala.com/fresher-jobs/hr-jobs/?utm_source=is_footer)\n\n[Civil Fresher Job](https://internshala.com/fresher-jobs/civil-jobs/?utm_source=is_footer)\n\n[Digital Marketing Fresher Job](https://internshala.com/fresher-jobs/REDACTED_ID/?utm_source=is_footer)\n\n[Business Analyst Fresher Job](https://internshala.com/fresher-jobs/REDACTED_ID/?utm_source=is_footer)\n\n[Finance Fresher Job](https://internshala.com/fresher-jobs/finance-jobs/?utm_source=is_footer)\n\n[Accounts Fresher Job](https://internshala.com/fresher-jobs/accounts-jobs/?utm_source=is_footer)\n\n[JAVA Fresher Job](https://internshala.com/fresher-jobs/java-jobs/?utm_source=is_footer)\n\n[Software Testing Fresher Job](https://internshala.com/fresher-jobs/REDACTED_ID/?utm_source=is_footer)\n\n[View all fresher jobs](https://internshala.com/fresher-jobs/?utm_source=is_footer)\n\nCareer Launchpads \n\n[Web Development Course](https://trainings.internshala.com/REDACTED_ID/?utm_source=is_web_is-footer%2F)\n\n[Data Science Course](https://trainings.internshala.com/REDACTED_ID/?utm_source=is_web_is-footer%2F)\n\n[Digital Marketing Course](https://trainings.internshala.com/REDACTED_ID/?utm_source=is_web_is-footer%2F)\n\n[HR Management Course](https://trainings.internshala.com/REDACTED_ID/?utm_source=is_web_is-footer%2F)\n\n[View all courses](https://trainings.internshala.com/?utm_source=is_web_is-footer%2F#REDACTED_ID)\n\nCertification Courses OFFER\n\n[Full Stack Web Development with AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=is_web_is-footer%2F)\n\n[Programming with Python with AI](https://trainings.internshala.com/python-course/?utm_source=is_web_is-footer%2F)\n\n[Complete Digital Marketing with AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=is_web_is-footer%2F)\n\n[Machine Learning with AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=is_web_is-footer%2F)\n\n[Advanced Excel with AI](https://trainings.internshala.com/excel-course/?utm_source=is_web_is-footer%2F)\n\n[AutoCAD with AI](https://trainings.internshala.com/autocad-course/?utm_source=is_web_is-footer%2F)\n\n[Data Science with AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=is_web_is-footer%2F)\n\n[Programming with C and C++ with AI](https://trainings.internshala.com/c-plus-plus-course/?utm_source=is_web_is-footer%2F)\n\n[Financial Modeling and Valuation with AI](https://trainings.internshala.com/REDACTED_ID/?utm_source=is_web_is-footer%2F)\n\n[View all courses](https://trainings.internshala.com/short-term-courses/?utm_source=is_web_is-footer%2F)\n\n[About us](https://internshala.com/about_us/?utm_source=is_footer)\n\n[We're hiring](https://internshala.com/careers/?utm_source=is_footer)\n\n[Hire interns for your company](https://internshala.com/hire-talent/?utm_source=is_footer)\n\n[Post a Job](https://internshala.com/post-job/?utm_source=is_footer)\n\n[Competitions](https://internshala.com/competitions/?utm_source=is_footer)\n\n[Team Diary](https://blog.internshala.com/REDACTED_ID/team-diary/?utm_source=is_footer)\n\n[Blog](https://blog.internshala.com/?utm_source=is_footer)\n\n[Our Services](https://internshala.com/products_services/?utm_source=is_footer)\n\n[Free Job Alerts](https://internshala.com/free-job-alerts/?utm_source=is_footer)\n\n[Terms & Conditions](https://internshala.com/terms/?utm_source=is_footer)\n\n[Privacy](https://internshala.com/privacy/?utm_source=is_footer)\n\n[Contact us](https://internshala.com/contact/?utm_source=is_footer)\n\n[Annual Returns](https://internshala-uploads.internshala.com/annual-return/Annual+Return_FY+24-25_Signed.pdf)\n\n[Grievance Redressal](https://internshala.com/grievance_redressal/?utm_source=is_footer)\n\n[Resume Maker](https://internshala.com/resume-maker/?utm_source=is_footer)\n\n[Sitemap](https://internshala.com/sitemap/?utm_source=is_footer)\n\n[College TPO registration](https://internshala.com/REDACTED_ID/associate/?utm_source=footer)\n\n[List of Companies](https://internshala.com/companies/?utm_source=footer)\n\n[Jobs for Women](https://internshala.com/jobs-for-women/?utm_source=is_footer)\n\nAbout Internshala\n\n[About us](https://internshala.com/about_us/?utm_source=is_footer)[We're hiring](https://internshala.com/careers/?utm_source=is_footer)[Hire interns for your company](https://internshala.com/hire-talent/?utm_source=is-footer)[Team Diary](https://blog.internshala.com/REDACTED_ID/team-diary/?utm_source=is_footer)[Blog](https://blog.internshala.com/?utm_source=is_footer)[Our Services](https://internshala.com/products_services/?utm_source=is_footer)[Terms & Conditions](https://internshala.com/terms/?utm_source=is_footer)[Privacy](https://internshala.com/privacy/?utm_source=is_footer)\n\n[Contact us](https://internshala.com/contact/?utm_source=is_footer)[Annual Returns](https://internshala-uploads.internshala.com/annual-return/Annual+Return_FY+24-25_Signed.pdf)[Grievance Redressal](https://internshala.com/grievance_redressal/?utm_source=is_footer)[Competitions](https://internshala.com/competitions/?utm_source=is_footer)\n\n[![Image 84: android_app](https://internshala.com//static/images/footer/google_play_store.png)](https://internshala.com/jobs/REDACTED_ID/)[![Image 85: ios_app](https://internshala.com//static/images/footer/apple_app_store.png)](https://internshala.com/jobs/REDACTED_ID/)\n\n[](https://www.instagram.com/internshala/?utm_source=IS_footer)[](https://twitter.com/Internshala?utm_source=IS_footer)[](https://www.youtube.com/c/internshalaofficial?utm_source=IS_footer)[](https://www.linkedin.com/company/internshala/?utm_source=is-footer)\n\n \u00a9 Copyright 2026 Internshala \n\n(Scholiverse Educare Private Limited) \n\n[Home](https://internshala.com/?utm_source=bottom_navigaton)\n\n[Internships](https://internshala.com/internships/?utm_source=bottom_navigaton)\n\n[Jobs](https://internshala.com/jobs/?utm_source=bottom_navigaton)\n\n[Courses](https://trainings.internshala.com/?utm_source=REDACTED_ID)\n\n[Launchpads](https://trainings.internshala.com/?utm_source=REDACTED_ID#REDACTED_ID)\n\n Download app \n\n Scan to get our app and stay up to date with latest opportunities \n\nAvailable on both Apple App Store and Google Play Store\n\n10L+ Downloads\n\n4.4 (42K Ratings)\n"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Job Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Market Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger at 10 A.M.": {
      "main": [
        [
          {
            "node": "Internshala Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Job Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Market Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Market Summarizer": {
      "main": [
        [
          {
            "node": "Email Report Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internshala Scraper": {
      "main": [
        [
          {
            "node": "LLM Job Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "REDACTED_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_ID"
  },
  "id": "MhId2FmwmAB01Ewx",
  "tags": []
}